.page-node-21 .l-header .l-region,
.page-node-21 .l-footer .l-region,
.page-node-21 .l-region--content-header,
.page-node-21 .l-content-center,
.page-node-21 .l-nav-sidebar,
.page-node-21 .l-content-wrapper,
.page-node-21 .l-region--featured,
.page-node-21 .l-content,
.page-node-21 .l-region--above-content,
.page-node-21 .l-region--below-content,
.page-node-21 .l-promo-sidebar,
.page-node-21 .l-region--content-footer,
.page-node-21 .l-region--content-left,
.page-node-21 .l-region--content-right,
.page-node-28 .l-header .l-region,
.page-node-28 .l-footer .l-region,
.page-node-28 .l-region--content-header,
.page-node-28 .l-content-center,
.page-node-28 .l-nav-sidebar,
.page-node-28 .l-content-wrapper,
.page-node-28 .l-region--featured,
.page-node-28 .l-content,
.page-node-28 .l-region--above-content,
.page-node-28 .l-region--below-content,
.page-node-28 .l-promo-sidebar,
.page-node-28 .l-region--content-footer,
.page-node-28 .l-region--content-left,
.page-node-28 .l-region--content-right,
.page-node-32 .l-header .l-region,
.page-node-32 .l-footer .l-region,
.page-node-32 .l-region--content-header,
.page-node-32 .l-content-center,
.page-node-32 .l-nav-sidebar,
.page-node-32 .l-content-wrapper,
.page-node-32 .l-region--featured,
.page-node-32 .l-content,
.page-node-32 .l-region--above-content,
.page-node-32 .l-region--below-content,
.page-node-32 .l-promo-sidebar,
.page-node-32 .l-region--content-footer,
.page-node-32 .l-region--content-left,
.page-node-32 .l-region--content-right {
  background: none;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  width: auto;
  float: left; }
.page-node-21 .print-buttons,
.page-node-28 .print-buttons,
.page-node-32 .print-buttons {
  display: none; }
.page-node-21 .block--bean .entity-bean,
.page-node-28 .block--bean .entity-bean,
.page-node-32 .block--bean .entity-bean {
  display: none !important; }

body.page-node-21 .l-header {
  background: #256e42;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  body.page-node-21 .l-header .l-header-first {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
  body.page-node-21 .l-header .l-header-second {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
  body.page-node-21 .l-header .l-header-third .menu-block-1 .menu {
    margin: 0; }
    body.page-node-21 .l-header .l-header-third .menu-block-1 .menu li {
      border: none !important; }
body.page-node-21 .l-main {
  background: #b5b5b5;
  min-height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  padding: 10px; }
body.page-node-21 .l-footer {
  display: block;
  float: left;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.3); }
body.page-node-28 .l-header {
  width: 20% !important;
  height: 80vh;
  background: blue; }
  body.page-node-28 .l-header .l-header-first {
    width: 100% !important; }
    body.page-node-28 .l-header .l-header-first #block-block-16 {
      width: 100%; }
  body.page-node-28 .l-header .l-header-third {
    background: #2d5dd8;
    width: 100%; }
    body.page-node-28 .l-header .l-header-third .menu {
      padding: 0;
      margin: 0; }
      body.page-node-28 .l-header .l-header-third .menu li {
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid black !important;
        padding: 0 !important;
        font-size: 11px !important;
        margin: 0 !important; }
        body.page-node-28 .l-header .l-header-third .menu li.active-trail {
          margin: 0 2px !important;
          border-right: 2px solid rgba(30, 30, 34, 0.22) !important; }
body.page-node-28 .l-main {
  display: block;
  float: left;
  height: 80vh;
  width: 80% !important;
  padding: 20px;
  box-sizing: border-box;
  clear: none !important; }
body.page-node-28 .l-footer {
  height: 20vh !important;
  background: #444; }
body.page-node-32 .l-header {
  display: block;
  position: fixed !important; }
  body.page-node-32 .l-header .l-header-first {
    display: block;
    float: left;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    width: 20% !important; }
  body.page-node-32 .l-header .l-header-second {
    display: none; }
  body.page-node-32 .l-header .l-header-third {
    background: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 80% !important;
    float: left;
    display: block;
    padding: 0; }
    body.page-node-32 .l-header .l-header-third .l-region--header-third {
      width: 100% !important; }
    body.page-node-32 .l-header .l-header-third .menu {
      display: table !important;
      padding: 0;
      margin: 0; }
      body.page-node-32 .l-header .l-header-third .menu li {
        display: table-cell !important;
        float: none !important; }
        body.page-node-32 .l-header .l-header-third .menu li a {
          line-height: 100px !important; }
body.page-node-32 .l-main {
  margin-top: 100px !important;
  position: relative;
  z-index: -1;
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh; }
body.page-node-32 .l-footer {
  height: 200px !important;
  background: white !important; }

#admin-menu {
  z-index: 1002; }

header {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  top: 90px;
  z-index: 1001; }

footer {
  display: block;
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 0; }

.l-region {
  position: relative;
  top: -85px; }

div#content-region1 {
  background-color: #444444; }

div#content-region2 {
  background-color: #898989; }

div#content-region3 {
  background-color: #d5d5d5; }

div#content-region4 {
  background-color: #e0e0e0; }

div.content-region {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  box-shadow: 0 0 12px #666;
  background: #f2f2f2;
  overflow: hidden;
  border: 5px solid #000; }

div.content-region .background {
  height: 100%;
  width: 100%;
  display: block; }

.l-footer .l-region--footer-first,
.l-footer .l-region--footer-second {
  width: 50%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0%;
  margin-top: 12px; }

@media print {
  div.content-region {
    display: block;
    float: left;
    width: 100%;
    position: relative !important; }

  header.l-header,
  div.l-main,
  footer.l-footer {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    height: auto; }

  .l-footer .l-region--footer-first,
  .l-footer .l-region--footer-second {
    top: initial; } }
