@font-face {
	font-family: 'TradeGothicLTStd-BdCn20';
	src: url('/sites/all/themes/unc_charlotte4/fonts/TradeGothicLTStd-BdCn20.otf') format('embedded-opentype'),
		 url('/sites/all/themes/unc_charlotte4/fonts/TradeGothicLTStd-BdCn20.woff') format('woff');
}

html {
	-webkit-font-smoothing: antialiased !important;
}
h1{
	@include f-impact();
	font-size:40px;
	line-height:42px;
	max-width:$maxwidth;
	padding:0 10px;
	margin:30px auto;
	color:$green;
}
h2{
	@include f-impact(42px);
	display:block;
	margin:0;
	padding:10px;
}
h3{
	@include f-impact(24px);
	margin:0;
	padding:10px;
}
p{
	@include f-text(16px);
	margin:10px 0;
}
a {
	color: #006633;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}