// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";
.messages{
	display:none;
}
.l-header .l-region,
.l-footer .l-region,
.l-region--content-header,
.l-content-center,
.l-nav-sidebar,
.l-content-wrapper,
.l-region--featured,
.l-content,
.l-region--above-content,
.l-region--below-content,
.l-promo-sidebar,
.l-region--content-footer,
.l-region--content-left,
.l-region--content-right
{
	background: white;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid $dkgray;
	margin-bottom:10px;
	width:100%;
	float:left;
}
.l-region{
	position:relative;
}
.block{
	@include floatblock();
}
/*site logo block*/
#block-block-16{
	width:200px;
	p{
		margin:0;
	}
}
#block-block-16
/*don't need to see these for display purposes*/
.messages{
	display:none;
}
/*it's somehow getting a width...*/
.element-invisible{
	max-width:1px;
}
/*all beans, need to figure out the best way to add a type class to the bean wrapper*/
.l-region:hover{
	.block.block--bean{
		.block__title{
			color: $purple;
			.bean-ia-theme-information{
				.regiontoggle{
					color: $purple;
				}
			}
		}
	}
}
.block.block--bean{
	display:block;
	float:left;
	width:100%;
	padding:5px;
	.block__title{
		display:block;
		float:left;
		width:auto;
		font-size:14px;
		color:rgba(0,0,0,0.4);
		&:before{
			content:'';
		}
	}
	/*beans for the IA theme info*/
	.bean-ia-theme-information{
		position:relative;
		.regiontoggle{
			border: none;
			float: left;
			font-size: 14px;
			line-height: 20px;
			background: none;
			color:rgba(0,0,0,0.4);
			outline: 0;
		}
		.seemore{
			display:none;
			float:right;
			width:400px;
			position:absolute;
			&.open{
				display:block;
				background:white;
				z-index:3;
				top:25px;
				left:0;
				border:1px solid #444;
				padding:10px;
				border-radius:5px;
				box-shadow:0 0 10px rgba(0,0,0,0.4);
				max-width: calc(100vw - 20px);
			}
		}
		.field{
			display:block;
			float:left;
			width:100%;
			padding:10px 0;
			border-top:1px solid #ccc;
			&.field--name-field-content-examples{
				color:#666;
			}
		}
	}
}
h1{
	color:$dkgray;
	@include font(500,30px,30px,Arial);
	@include floatblock();
	margin:0;
	&:before{
		content: 'H1';
		color: blue;
		font-size: 15px;
		display: table-cell;
		vertical-align: top;
		float: left;
		font-weight:bold;
	}
}
h2{
	@include font(500,20px,20px,Arial);
	@include floatblock();
	margin:0;
	&:before{
		content: 'H2';
		color: blue;
		font-size: 10px;
		display: table-cell;
		vertical-align: top;
		float: left;
		font-weight:bold;
	}
}
.block__title{
	@include font(500,20px,20px,Arial);
	color:$dkgray;
}
.block__content{
	@include font(300,16px,16px,Arial);
	color:$dkgray;
}
.breadcrumbs{
	padding-left:0;
	.breadcrumb{
		list-style-type:none;
		padding:0;
		display:block;
		float:left;
		padding:5px;
		span{
			padding:0;
			font-size:initial;
			line-height:16px;
		}
	}
	span{
		font-size:9px;
		line-height:16px;
		display:block;
		float:left;
		padding:5px;
	}
}
#block-user-login{
	display:block;
	width:auto;
	position: absolute;
	right: 10px;
	background:white;
	z-index:1;
	h2.block__title{
		float:right;
		cursor:pointer;
		border:1px solid black;
		padding:5px;
		border-radius:5px;
		font-size:14px;
		line-height:14px;
		&:before{
			display:none!important;
		}
		&:hover{
			background:$ltgray;
			color:black;
		}
	}
	.block__content{
		display:none;
		position: absolute;
		width: 281px;
		background: white;
		top: 40px;
		right: 0;
		border: 1px solid #444;
		border-radius: 5px;
		padding: 0 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.7);
		form.user-login-form{
			.form-item{
				display: block;
				width: 100%;
				height: 20px;
				margin: 5px 0;
				label{
					display:block;
					float:left;
					font-size:12px;
					line-height:20px;
				}
				input{
					display:block;
					float:right;
					height:20px;
				}
			}
			ul{
				display:none;
			}
			#edit-actions{
				display:block;
				margin:5px auto;
				width:100%;
				input{
					width:100%;
				}
			}
		}
		&.open{
			display:block;
			z-index:1;
		}
	}
}
/*main menu block*/
#block-menu-block-1{
	@include floatblock();
	ul{
		@include floatblock();
		list-style-type:none;
		li{
			@include floatblock();
			width:auto;
			padding:0 10px;
			text-align:center;
			height:$main-nav-height;
			border:2px solid $ltgray;
			margin:0 2px;
			&.active-trail,
			&:hover{
				background:$whitegray;
				a{
					color:$dkgray;
				}
			}
			a{
				color:$ltgray;
				text-decoration:none;
				width:100%;
				height:100%;
				display:block;
				line-height:$main-nav-height;
				font-weight:bold;
			}
		}
	}
}
/*default subnav block*/
#block-menu-block-2{
	.menu-block-wrapper{
		ul{
			@include floatblock();
			margin:0;
			padding:0;
			li{
				@include floatblock();
				margin-bottom:2px;
				a{
					border:2px solid $ltgray;
					background: $whitegray;
					color: $gray;
					padding:10px;
					@include floatblock();
					text-decoration:none;
				}
				&.active-trail{
					&>a{
						border:2px solid $dkgray;
						background:white;
					}
				}
				&:hover{
					&>a{
						background:$whitegray;
						color:$dkgray;
					}
				}
			}
			/*second level down*/
			ul{
				margin-left:10px;
				width:calc(100% - 10px);
				margin-top: 3px;
				li{
					a{
						border:2px solid $ltgray;
						background:white;
						color:$gray;
					}
				&.active-trail{
						&.active{
							&>a{
								border:2px solid $dkgray;
								color:$dkgray;
							}
						}
					}
				}
			}
		}
	}
}
#block-menu-block-4{
	.menu-block-wrapper{
		ul{
			margin:0;
			padding:0;
			li{
				width: auto;
				display: block;
				float: left;
				margin: 10px 10px 10px 0;
				padding-right: 10px;
				border-right: 1px solid black;
				&:last-child{
					border-right:none;
				}
				a{
					padding:0px;
					@include floatblock();
					text-decoration:none;
				}
			}
		}
	}
}
/*quicktabs block*/
.block{
	@include floatblock();
	&.block--quicktabs{
		ul.quicktabs-tabs{
			@include floatblock();
			margin:0;
			padding:0;
			li{
				a{
					display:block;
					float:left;
					border-top:1px solid $dkgray;
					border-left:1px solid $dkgray;
					border-right:1px solid $dkgray;
					border-bottom:1px solid $dkgray;
					padding:10px;
					margin:0 3px;
					border-radius:5px 5px 0 0;
					background:$ltgray;
					text-decoration:none;
					position:relative;
					bottom:-1px;
				}
				&.active{
					a{
						background:white;
						border-bottom:1px solid transparent;
					}
				}
			}
		}
		.quicktabs_main{
			@include floatblock();
			padding:10px;
			border:1px solid $dkgray;
			.quicktabs-tabpage{
				&.quicktabs-hide{}
			}
		}
	}
}
html{
	background:$ltgray;
	body{
		max-width:1600px;
		margin:0 auto;
		.l-page{}
	}
}

.print-buttons{
	position:fixed;
	left:-60px;
	z-index:9999;
	background:rgb(255, 126, 0);
	border:2px solid #334477;
	padding-right:16px;
	border-radius:0 5px 5px 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	&:after {
		content: '\f02f';
		font-family: FontAwesome;
		position: absolute;
		right: 2px;
		top: calc(50% - 8px);
		font-size:16px;
		color: rgb(242, 242, 242);
		text-shadow: 0 0 10px #111;
	}
	&.open{
		left:-2px;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	ul{
		margin:0;
		list-style-type:none;
		width:60px;
		padding:0;
		display:block;
		float:left;
		padding:5px 0;
		li{
			padding:5px;
			display:block;
			float:left;
			width:100%;
			button{
				width:40px;
				height:40px;
				display:block;
				float:right;
				background:none;
				border:2px solid #444;
				border-radius:5px;
				outline:0;
				padding:0;
				&:before{
					font-size:25px;
					line-height:35px;
					font-family:FontAwesome;
				}
				&.mobile:before{
					content:"\f10b";
				}
				&.tablet:before{
					content:"\f10a";
				}
				&.desktop:before{
					content:"\f108";
				}
				&:hover{
					background:rgba(255, 218, 187, 0.43);
				}
			}
		}
	}
}
@page {
	margin: 0.2in;
}
@media print{
	html{
		body{
			.printheader{
				img{
					width:30%;
					display:block;
					float:left;
				}
				.date{
					width:30%;
					display:block;
					float:right;
					text-align:right;
				}
			}
			.l-page{
				.l-header{
					.l-header-third{
						clear:both!important;
					}
				}
			}
		}
	}
	.print-buttons,
	.tabs--primary{
		display:none!important;
	}
	.block.block--bean{
		.block__title{
			display:block;
			float:left;
			width:auto;
		}
		/*beans for the IA theme info*/
		.bean-ia-theme-information{
			display:none;
		}
	}
}