// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

html{
	body{
		max-width:1600px;
		margin:0 auto;
		.l-page{
			overflow:hidden;
		}
	}
}
p{
	color:#444;
	margin:10px 0;
}
/*unc charlotte header*/
#header-wrapper{
	height:100px;
	background: url("/sites/all/themes/starterkit/img/header-bg.png") repeat-x scroll center top #FFFFFF;
	.container{
		height:100px;
		margin:auto;
		max-width:$maxwidth;
		#header-row{
			background: url("/sites/all/themes/starterkit/img/header-logo-watermark.png") repeat-x scroll center center #FFFFFF;
			height: 100px;
			#logo-wrapper{
				width: 25%;
				margin-left: 2%;
				float: left;
				@include breakpoint($tab,true){
					position: relative;
					top: 20px;
				}
			}
			#branding{
				display:block;
				float:left;
				height:100px;
				#site-name-title{
					height: 0px;
					text-align: left;
					top: 25px;
					position: relative;
					display:block;
					float: left;
					color: white;
					font-size: 1.25em;
					line-height:1.5em;
					font-family: times,"times new roman",serif;
					a{
						color:white;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				#site-name-wrapper{
					#site-name{
						height: 0px;
						text-align: left;
						top: 25px;
						position: relative;
						display:block;
						float: left;
						color: white;
						font-size: 1.25em;
						line-height:1.5em;
						font-family: times,"times new roman",serif;
						a{
							color:white;
							text-decoration:none;
							&:hover{
								text-decoration:underline;
							}
						}
					}
				}
				#subbrand-link{
					height: 0px;
					text-align: left;
					top: 30px;
					position: relative;
					display:block;
					float: left;
					color: white;
					font-size: 1em;
					line-height:1.5em;
					font-family: times,"times new roman",serif;
					a{
						color:white;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
			#header-utility {
				float: right;
				height: 100px;
				#header-utility-links {
					list-style-type: none;
					margin-bottom: 5px;
					margin-right: 8px;
					float: right;
					margin-top: 7px;
					font-size: 0.75em;
					li{
						font-family: arial,helvetica,sans-serif;
						font-size: 1em;
						margin-left: -4px;
						text-align: right;
						width: 164px;
						line-height: 1.6em;
						a{
							color: #FFFFFF !important;
							text-decoration: none;
						}
					}
				}
				#header-utility-search-wrapper {
					float: right;
					clear: both;
					margin-right: 8px;
					input{
						width:auto;
						height:25px;
					}
				}
			}
		}
	}
}
.l-region{
	position:relative;
	&.l-region--header-second{
		@include floatblock();
		background:#005429;
	}
}

/*don't need to see these for display purposes*/
.messages{
	display:none;
}
/*it's somehow getting a width...*/
.element-invisible{
	max-width:1px;
}
.block{
	@include floatblock();
}
form{
	label{
		@include floatblock();
		width:30%;
	}
	input{
		@include floatblock();
		width:70%;
	}
}
body.front{
	.l-page{
		.l-main{
			#content{
				display:block;
				float:left;
				position:relative;
				width:100%;
				h1{
					position:absolute;
					left:20px;
					top:-40px;
					z-index:99;
				}
				> ul{
					margin:0;
				}
			}
		}
	}
}
body.page-node-73,
body.front{
	.l-region{
		.block.block--bean{
			.block__title{
				display:none;
			}
		}
	}
}
.bean-button-promo-1{
	.field__item{
		a{
			display: block;
			float: left;
			width: 100%;
			text-align: center;
			border: 4px solid #555;
			background: #666;
			color: #ccc;
			line-height: 42px;
			border-radius: 8px;
			text-decoration: none;
		}
	}
}
body.longscrollv2{
	.l-region--content-header,
	.l-region--content-footer{
		background:white;
	}
	h1{}
	.l-content-header-meta{
		display:block;
		float:left;
		width:100%;
		z-index:1;
		position:relative;
	}
}
.block.block--bean{
	@include floatblock();
	padding:5px;
	&#block-bean-homepage-billboard{
		padding:0;
	}
	.block__title{
		display:block;
		float:left;
		width:auto;
		font-size:14px;
		color:rgba(0,0,0,0.4);
		&:before{
			content:'';
		}
	}
	.bean-billboard{
		.billboard-image{
			display:block;
			width:100%;
			float:left;
			@include breakpoint($tab,true){
				width:75%;
			}
			.field__item{
				text-align:center;
				img{
					width:100%;
					height:auto;
					max-height: $billboard-h;
					max-width: $billboard-w;
					margin: auto;
					float: none;
				}
			}
			&.fullwidth{
				@include breakpoint($tab,true){
					width:100%;
				}
			}
		}
		.billboard-ctas{
			display:block;
			width:100%;
			float:left;
			@include breakpoint($tab,true){
				width:25%;
			}
			.field__items{
				.field__item{
					display:block;
					float:left;
					width:100%;
					margin-top:30px;
					a{
						display:block;
						width:90%;
						margin:auto;
						color:#fff;
						background:#333;
						border:1px solid #222;
						text-decoration:none;
						text-align:center;
						padding:20px;
						border-radius:8px;
					}
				}
			}
		}
	}
	.bean-showcase{
		display:block;
		float:left;
		max-width:100%;
		width:100%;
		border-top: 5px solid #444;
		padding-toP: 40px;
		margin: 120px 0;
		h2{
			@include f-impact();
			padding:0 10px;
			text-align: center;
			position: relative;
			top: -50px;
			text-transform: uppercase;
			background: white;
			width: 400px;
			margin: auto;
		}
		.showcase-intro{
			display:block;
			float:left;
			width:100%;
			padding:0 10px;
			@include breakpoint($tab,true){
				width:25%;
			}
			.field--name-field-read-more-link{
				display:block;
				float:left;
				padding-right:20px;
				position:relative;
				&:after{
					@include arrowafter();
				}
				a{
					color:$green;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
		.showcase-elements{
			display:block;
			float:left;
			width:100%;
			padding-top:40px;
			@include breakpoint($tab,true){
				width:75%;
				padding-top:0;
			}
			.field__item{
				display:block;
				float:left;
				width:100%;
				.field--name-field-image-upload{
					.field__items{
						.field__item{
							display:none;
							&:first-child{
								display:block;
							}
						}
					}
				}
				img{
					display:block;
					float:left;
					width:100%;
				}
				iframe{
					max-width:100%;
				}
				.field--name-field-image-upload{
					.field__item{
						width:100%;
						padding:0 20px;
						box-sizing:border-box;
					}
				}
				.field--name-field-caption{
					@include floatblock();
					position:relative;
					height:100%;
					.field__item{
						@include f-impact();
						color:white;
						text-transform:uppercase;
						text-shadow:1px 1px 0px rgba(0,0,0,0.8);
						width: calc(100% - 40px);
						font-size:16px;
						line-height:18px;
						padding:15px;
						margin: 0 20px;
						box-sizing: border-box;
						position: absolute;
						bottom: 0;
						@include filter-gradient(#000000, #a60000, vertical); // IE6-9
						@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
						@include breakpoint($desk,true){
							font-size:22px;
							line-height:24px;
							padding: 30px 15px;
						}
						@include breakpoint($desk,true){
							font-size:30px;
							line-height:32px;
							padding: 20px 15px;
						}
					}
				}
			}
			&.one{
				.field__item{
					width:100%;
				}
			}
			&.two{
				.field__item{
					width:50%;
				}
			}
			&.three{
				.field__item{
					width:33.3333%;
				}
			}
		}
	}
	.bean-text-and-links-promo{
		&.a-left{}
		&.a-right{}
		.promo-image{
			display:block;
			float:left;
			width:100%;
			padding:10px;
			box-sizing:border-box;
			@include breakpoint($tab,true){
				max-width:70%;
				width:auto;
			}
		}
		.promo-content-container{
			display:block;
			float:left;
			width:100%;
			padding:10px;
			box-sizing:border-box;
			@include breakpoint($tab,true){
				max-width:30%;
				width:auto;
			}
		}
		&.noimg{
			.promo-content-container{
				width:100%;
				max-width:initial;
				.field--name-field-list-of-links{
					@include floatblock();
				}
			}
		}
		.field--name-field-list-of-links{
			.field__item{
				a{
					display: block;
					width: 90%;
					margin: 5px auto;
					color: #fff;
					background: #333;
					border: 1px solid #222;
					text-decoration: none;
					text-align: center;
					padding: 10px;
					border-radius: 8px;
				}
			}
		}
	}
}

/* views blocks on sights and sounds home*/
#block-views-media-block-1{
	.block__content{
		.view-content{
			.views-row{
				@include floatblock();
				width:20%;
				.views-field-field-image-upload{
					.field-content{
						a{
							display:none;
							&:first-child{
								display:block;
							}
						}
					}
				}
			}
		}
		.more-link{}
	}
}
#block-views-media-block-2{
	.block__content{
		.view-content{
			.views-row{
				@include floatblock();
				width:100%;
				@include breakpoint($tab,true){
					width:50%;
				}
				@include breakpoint($desk,true){
					width:33.3333%;
				}
				.views-field-field-audio-file{
					.jp-audio{
					}
				}
			}
		}
		.more-link{}
	}
}
#block-views-media-block-3{
	.block__content{
		.view-content{
			.views-row{
				@include floatblock();
				width:50%;
				.views-field-field-video-url{
					.player{
						iframe{
							max-width:100%;
							max-height:34vw;
						}
					}
				}
			}
		}
		.more-link{}
	}
}

#block-views-news-block-1{
	@include floatblock();
	padding: 20px 30px;
	@include breakpoint($tab,true){
		width:calc(100% - 300px);
	}
	.view-news{
		position:relative;
		.view-content{
			@include floatblock();
			border-bottom: 5px solid #444;
			.views-field-title{
				@include floatblock();
				margin:0;
				.field-content{
					@include f-impact();
				}
			}
			.views-field-field-news-image{
				display:block;
				float:left;
				width:100%;
				img{
					width:100%;
					height:auto;
				}
			}
			.views-field-title-1{
				display:block;
				float:left;
				padding-right:20px;
				position:relative;
				margin:20px 0;
				&:after{
					@include arrowafter();
				}
				a{
					color:$green;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
			.views-field-created,
			.views-field-body{
				@include floatblock();
				box-sizing:border-box;
			}
		}
		.more-link{
			padding-right:20px;
			position:relative;
			&:after{
				@include arrowafter();
			}
			a{
				color:$green;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}
.block--views-events-block-1{
	position: relative;
	top: -40vw;
	padding-top: 40vw;
	margin-bottom: -40vw;
	.block__title{
		@include f-impact();
		text-align:center;
		margin: auto;
		float: none;
		width: 220px;
		text-transform:uppercase;
		background: white;
		position: relative;
	}
	.block__content{
		max-width: $maxwidth;
		margin: auto;
		float: none;
		.view-events{
			.view-content{
				display:block;
				float:left;
				width:100%;
				border-top: 5px solid #444;
				border-bottom: 5px solid #444;
				padding: 20px 0 20px 0;
				margin-top: -20px;
				.views-row{
					display:block;
					float:left;
					width:33.3333%;
					text-align:center;
					.views-field-field-event-date-1{
						display:block;
						width:60px;
						margin:auto;
						@include breakpoint($tab,true){
							margin: 10px;
							float:left;
						}
						.d-date{
							display: block;
							float: left;
							padding: 15px 10px;
							box-sizing: border-box;
							background: #555;
							color: white;
							border-radius: 5px;
							.month{
								display:block;
								float:left;
								width:100%;
								text-align:center;
								font-size:20px;
							}
							.day{
								display:block;
								float:left;
								width:100%;
								text-align:center;
								font-size:14px;
							}
						}
					}
					.views-field-field-event-date-2{
						display:block;
						float:left;
						width:100%;
						text-align:center;
						@include breakpoint($tab,true){
							width:calc(100% - 80px);
							text-align:left;
							padding:0 10px;
						}
						.event-info{
							display:block;
							h3{}
							p{}
						}
					}
				}
			}
		}
	}
}
#a2{
	background:#eee;
	.l-region--above-content{
		max-width:$maxwidth;
		display:block;
		margin:auto;
	}
}
#a3{
	background:#eee;
	.l-region--below-content{
		max-width:$maxwidth;
		display:block;
		margin:auto;
	}
}
#block-bean-home-pride-of-niner-nation{
	padding:20px 30px;
	@include floatblock();
	@include breakpoint($tab,true){
		width:calc(100% - 300px);
	}
	h2.block__title{
		@include f-impact();
		display:block!important;
		color:#444;
		text-transform:uppercase;
		background: #eee;
		text-align: center;
		margin: auto;
		width: 250px;
		float: none;
		position: relative;
	}
	.block__content{
		.entity-bean{
			> .content{
				display: block;
				float: left;
				width: 100%;
				border-top: 5px solid #444;
				border-bottom: 5px solid #444;
				padding: 20px 0 20px 0;
				margin-top: -20px;
				.field__item{
					.field--name-field-subsection-gallery{
						.field__items{
							.field__item{
								display:none;
								float:left;
								width:150px;
								height:150px;
								border-radius:50%;
								overflow:hidden;
								&:first-child{
									display:block;
								}
							}
						}
						.field--name-field-caption{
							display:none;
						}
					}
					.field--name-field-subsection-title{
						@include f-impact();
						text-align:left;
						font-size:20px;
						line-height:20px;
						float: left;
						width: calc(100% - 150px);
						text-transform:uppercase;
						padding-left:20px;
					}
					.field--name-field-subsection-intro{
						display: block;
						float: left;
						width: Calc(100% - 150px);
						padding: 10px 20px;
					}
					.field--name-field-subsection-link{
						@include floatblock();
						width:auto;
						position:relative;
						&:after{
							@include arrowafter();
						}
						a{
							display:block;
							float:left;
							padding:10px 20px;
							color:$green;
							text-decoration:none;
							&:hover{
								text-decoration:underline;
							}
						}
					}
				}
			}
		}
	}
	.field--name-field-promo-read-more{
		.field__item{
			position:relative;
			padding-right:20px;
			&:after{
				@include arrowafter();
				top:calc(50% + 4px);
			}
			a{
				color:$green;
				display:block;
				float:right;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}
#block-bean-home-support-the-band{
	@include floatblock();
	@include breakpoint($tab,true){
		width:300px;
	}
	padding:0;
	background:white;
	.block__content{
		.content{
			.header{
				@include f-impact();
				display:block;
				float:left;
				width:100%;
				background:$green;
				box-sizing:border-box;
				margin-bottom:20px;
				h2{
					@include f-impact();
					display:block;
					float:left;
					padding:20px;
					box-sizing:border-box;
					width:100%;
					text-align:center;
					font-size:25px;
					line-height:25px;
					color:white;
					text-transform:uppercase;
				}
				p{
					text-align:center;
					color:white;
					font-size:16px;
					line-height:16px;
					width:75%;
					margin:auto;
					padding-bottom:10px;
				}
				&:after{
					content:'';
					position:relative;
					top:42px;
					background:white;
					border-left:48vw solid rgba(255, 255, 255, 0);
					border-right:47vw solid rgba(255, 255, 255, 0);
					border-top:20px solid $green;
					border-bottom:0;
					@include breakpoint($tab,true){
						top:20px;
						border-left:150px solid rgba(255, 255, 255, 0);
						border-right:150px solid rgba(255, 255, 255, 0);
					}
				}
			}
			.cta-content{
				@include floatblock();
				text-align:center;
				padding:0 20px;
				.icon{
					width: 100px;
					height: 100px;
					display: block;
					font-size: 32px;
					line-height: 80px;
					margin: auto;
					background: #eee;
					border-radius: 50%;
					border: 10px solid white;
					box-sizing: border-box;
					top: 50px;
					margin-top:-50px;
					position: relative;
					color:$green;
				}
				a{
					@include floatblock();
					border-top:3px solid #444;
					padding-top:30px;
					text-decoration:none;
					color:$green;
					.content{
						h3{}
						p{
							color:#444;
						}
					}
				}
			}
		}
	}
}
#block-bean-facilities-showcase{
	.block__content{
		max-width:$maxwidth;
		margin:auto;
	}
}
img{
	height:auto;
}
.more-link{
	padding:5px;
	float:right;

}

.breadcrumbs{
	padding:10px 5px;
	border-bottom:2px solid #eee;
	.breadcrumb{
		list-style-type:none;
		padding:0;
		display:block;
		float:left;
		padding:5px;
		span{
			padding:0;
			font-size:initial;
			line-height:16px;
		}
		a{
			color:$green;
			border-bottom:1px dotted $green;
			&:hover{
				border-bottom:1px solid $green;
			}
		}
	}
	span{
		font-size:9px;
		line-height:16px;
		display:block;
		float:left;
		padding:5px;
	}
}
#block-user-login{
	display:none;
	width:auto;
	position: absolute;
	right: 10px;
	background:white;
	z-index:1;
	h2.block__title{
		float:right;
		cursor:pointer;
		border:1px solid black;
		padding:5px;
		border-radius:5px;
		font-size:14px;
		line-height:14px;
		&:before{
			display:none!important;
		}
		&:hover{
			background:$ltgray;
			color:black;
		}
	}
	.block__content{
		display:none;
		position: absolute;
		width: 281px;
		background: white;
		top: 40px;
		right: 0;
		border: 1px solid $dkgray;
		border-radius: 5px;
		padding: 0 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.7);
		form.user-login-form{
			.form-item{
				display: block;
				width: 100%;
				height: 20px;
				margin: 5px 0;
				label{
					display:block;
					float:left;
					font-size:12px;
					line-height:20px;
				}
				input{
					display:block;
					float:right;
					height:20px;
				}
			}
			ul{
				display:none;
			}
			#edit-actions{
				display:block;
				margin:5px auto;
				width:100%;
				input{
					width:100%;
				}
			}
		}
		&.open{
			display:block;
			z-index:1;
		}
	}
}
#block-bean-main-menu-toggle{
	display:block;
	float:left;
	width:100%;
	padding:0;
	@include breakpoint($tab,true){
		display:none;
		width:auto;
	}
	p{
		margin:0;
	}
	button.menu-toggle{
		display:block;
		float:left;
		width:100%;
		border:none;
		background:$ltgray;
		height:100px;
		border-left: 1px solid #999;
		&:before{
			content: '\f0c9';
			font-family: FontAwesome;
			font-size: 18px;
			top: 1px;
			left: -4px;
			position: relative;
		}
	}
}
/*site logo block*/
#block-block-16{
	width:200px;
	margin:auto;
	float:left;
	p{
		margin:0;
	}
}
/*main menu block*/
#header-wrapper{
	.l-header-third{
		@include floatblock();
		background:#eee;
		.container{
			display: block;
			width: 100%;
			max-width: $maxwidth;
			margin: auto;
			height:auto;
			.l-region--header-third{
				#block-menu-block-1{
					margin-bottom:-5px;
					z-index:1;
					@include floatblock();
					@include breakpoint($tab,true){
						width:80%;
					}
					.menu-block-wrapper{
						@include floatblock();
						ul{
							@include floatblock();
							list-style-type:none;
							padding:0;
							height:0px;
								overflow:hidden;
							@include breakpoint($tab,true){
								margin:0 10px;
								height:auto;
							}
							-webkit-transition:all 1s;
							transition:all 1s;
							li{
								@include floatblock();
								text-align:center;
								@include breakpoint($tab,true){
									margin:0;
								}
								&.active-trail,
								&:hover{
									a{
										color:$green;
										border-bottom:5px solid $green;
									}
								}
								a{
									@include f-impact();
									padding:0 10px;
									color:$green;
									text-decoration:none;
									width:100%;
									height:$main-nav-height;
									display:block;
									line-height:$main-nav-height;
									font-weight:bold;
									text-transform:uppercase;
									font-size:20px;
								}
								@include breakpoint($tab,true){
									width:auto;
									a{

									}
								}
								&:nth-child(1){
									background:white;
									border-left:1px solid $ltgray;
									border-top:1px solid $whitegray;
									border-bottom:1px solid $ltgray;
								}
								&:nth-child(2){
									background:white;
									border-right:1px solid $ltgray;
									border-top:1px solid $whitegray;
									border-bottom:1px solid $ltgray;
								}
							}
						}
					}
				}
				#block-menu-block-5{
					margin-bottom:-5px;
					z-index:1;
					@include floatblock();
					@include breakpoint($tab,true){
						width:20%;
					}
					.menu-block-wrapper{
						ul{
							@include floatblock();
							li{
								list-style:none;
								display:block;
								float:left;
								text-align:center;
								width:33.3333%;
								a{
									background:$green;
									display: block;
									text-align: center;
									margin:auto;
									line-height: 32px;
									width: 30px;
									height: 30px;
									border-radius: 50%;
									i{
										color:white;
										font-size:16px;
									}
								}
							}
						}
					}
				}
				&.open{
					#block-menu-block-1{
						ul{
							height:215px;
							@include breakpoint($tab,true){
								height:auto;
							}
						}
					}
					#block-menu-block-5{
						.menu-block-wrapper{
							ul{
								li{
									a{
										i{}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*default subnav block*/
#block-menu-block-2{
	.menu-block-wrapper{
		ul{
			@include floatblock();
			margin:0;
			padding:0;
			li{
				@include floatblock();
				margin-bottom:2px;
				a{
					border:2px solid $ltgray;
					background: $whitegray;
					color: $gray;
					padding:10px;
					@include floatblock();
					text-decoration:none;
				}
				&.active-trail{
					&>a{
						border:2px solid $dkgray;
						background:white;
					}
				}
				&:hover{
					&>a{
						background:$whitegray;
						color:$dkgray;
					}
				}
			}
			/*second level down*/
			ul{
				margin-left:10px;
				width:calc(100% - 10px);
				margin-top: 3px;
				li{
					a{
						border:2px solid $ltgray;
						background:white;
						color:$gray;
					}
				&.active-trail{
						&.active{
							&>a{
								border:2px solid $dkgray;
								color:$dkgray;
							}
						}
					}
				}
			}
		}
	}
}
#block-menu-block-4{
	float:right;
	width:auto;
	.menu-block-wrapper{
		ul{
			margin:0;
			padding:0;
			li{
				width: auto;
				display: block;
				float: left;
				margin: 10px 10px 10px 0;
				padding-right: 10px;
				border-right: 1px solid black;
				&:last-child{
					border-right:none;
				}
				a{
					padding:0px;
					@include floatblock();
					text-decoration:none;
				}
			}
		}
	}
}
/*quicktabs block*/
.block{
	@include floatblock();
	&.block--quicktabs{
		ul.quicktabs-tabs{
			@include floatblock();
			margin:0;
			padding:0;
			li{
				a{
					display:block;
					float:left;
					border-top:1px solid $dkgray;
					border-left:1px solid $dkgray;
					border-right:1px solid $dkgray;
					border-bottom:1px solid $dkgray;
					padding:10px;
					margin:0 3px;
					border-radius:5px 5px 0 0;
					background:$ltgray;
					text-decoration:none;
					position:relative;
					bottom:-1px;
				}
				&.active{
					a{
						background:white;
						border-bottom:1px solid transparent;
					}
				}
			}
		}
		.quicktabs_main{
			@include floatblock();
			padding:10px;
			border:1px solid $dkgray;
			.quicktabs-tabpage{
				&.quicktabs-hide{}
			}
		}
	}
}

.l-footer{
	@include floatblock();
	.l-footer-first{
		@include floatblock();
		background:$green;
		.l-region--footer-first{
			display:block;
			margin:auto;
			max-width:$maxwidth;
			/* footer menu */
			#block-menu-block-6{
				width:auto;
				.menu-block-wrapper{
					ul.menu{
						margin:0;
						padding:30px 0;
						@include floatblock();
						li{
							@include floatblock();
							list-style:none;
							line-height:60px;
							@include breakpoint($tab,true){
								width:auto;
							}
							a{
								@include f-impact();
								@include floatblock();
								color:white;
								text-decoration:none;
								text-transform:uppercase;
								padding:14px 20px;
								text-align:center;
								@include breakpoint($tab,true){
									padding:0 20px;
									text-align:left;
								}
								&:hover{
									text-decoration:underline;
								}
							}
						}
					}
				}
			}
			#block-menu-block-5--2{
				width:auto;
				width:120px;
				margin:auto;
				float:none;
				padding-right:20px;
				@include breakpoint($tab,true){
					float:right;
					width:auto;
				}
				.menu-block-wrapper{
					ul.menu{
						margin:0;
						padding:0;
						display:block;
						float:right;
						width:100%;
						@include breakpoint($tab,true){
							width:auto;
						}
						li{
							@include floatblock();
							width:auto;
							list-style:none;
							margin:25px 5px;
							a{
								@include floatblock();
								color:#fff;
								width:30px;
								height:30px;
								line-height:30px;
								text-align:center;
								border-radius:50%;
								background:$gold;
								text-decoration:none;
								&:hover{
									text-decoration:underline;
								}
							}
						}
					}
				}
			}
		}
	}
	//unc charlotte footer
	#footer {
	  @include floatblock();
	  #footer-container{
	    #static-footer {
	      background: url("../img/footer-bg.png") repeat-x scroll left top transparent;
	      clear: both;
	      height: 110px;
	      .hidden-phone{}
	      #utility-bar{
	      	max-width:$maxwidth;
	      	margin:auto;
	        height: 32px;
	        ul{
	          display:block;
	          float:left;
	          height: 32px;
	          list-style-type: none;
	          padding-top: 0;
	          margin-bottom: 0px;
	          padding-left: 10px;
	          margin-top:0;
	          li{
	            display: block;
	            float: left;
	            font-family: arial,helvetica,sans-serif;
	            font-size: 1em;
	            height: 32px;
	            margin-right: 20px;
	            a{
	              color: white;
	              display: inline-block;
	              height: 32px;
	              font-size:12px;
	              line-height: 32px;
	              text-decoration: none;
	              &:hover{
	                text-decoration: underline;
	              }
	            }
	          }
	        }
	        #footer-search{
	          display:block;
	          float:right;
	          #utility-search-input {
	            border: medium none;
	            display: block;
	            float: left;
	            font-size: 13px;
	            height: 17px;
	            margin-top: 7px;
	            padding-left: 5px;
	            padding-top: 1px;
	            padding-bottom: 1px;
	            position: relative;
	            width: 123px;
	            border-radius: 0px;
	          }

	          #utility-search-button {
	            border-radius: 0 0 0 0;
	            border: none;
	            width: 19px;
	            height: 19px;
	            margin: 0;
	            margin-top: 7px;
	            padding: 0;
	          }
	          #utility-search-button img {
	            border-image-width: 0;
	            margin: 0;
	            padding: 0;
	          }
	        }
	      }
	      #footer-bottom{
	      	max-width:$maxwidth;
	      	margin:auto;
	        #footer-name{
	          display:block;
	          float:left;
	          margin-top: 10px;
	          p{
	            color: #666666;
	            font-family: arial,helvetica,sans-serif;
	            margin-bottom: 8px;
	            margin-top: 0px;
	            margin-left: 20px;
	          }
	          a{
	            text-decoration:none;
	            &:hover{
	              text-decoration:underline;
	            }
	          }
	        }
	        #footer-follow{
	          display:block;
	          float:right;
	          p{
	            &#social-title {
	              border-bottom: 0 none;
	              color: #666666 !important;
	              font-family: arial,helvetica,sans-serif;
	              font-size: 1.13em;
	              font-weight: bold;
	              margin-bottom: 5px;
	              margin-right: 20px;
	              margin-top:10px;
	            }
	          }
	          div.social-icons{
	            display: inline-block;
	            height: 30px;
	            margin-right: 3px;
	            vertical-align: top;
	            width: 30px;
	            a{
	              display: inline-block;
	              height: 30px;
	              margin-right: 3px;
	              vertical-align: top;
	              width: 30px;
	            }
	            &.facebook {
	              a{
	                background: url("/sites/all/themes/starterkit/img/social-icons.png") no-repeat scroll 0 0 transparent;
	              }
	            }
	            &.blog{
	              a{
	                background: url("/sites/all/themes/starterkit/img/social-icons.png") no-repeat scroll 0 -30px transparent;
	              }
	            }
	            &.twitter{
	              a{
	                background: url("/sites/all/themes/starterkit/img/social-icons.png") no-repeat scroll 0 -60px transparent;
	              }
	            }
	            &.flickr{
	              a{
	                background: url("/sites/all/themes/starterkit/img/social-icons.png") no-repeat scroll 0 -90px transparent;
	              }
	            }
	            &.youtube{
	              a{
	                background: url("/sites/all/themes/starterkit/img/social-icons.png") no-repeat scroll 0 -120px transparent;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	}
}
.print-buttons{
	position:fixed;
	left:-60px;
	z-index:9999;
	background:rgb(255, 126, 0);
	border:2px solid #334477;
	padding-right:16px;
	border-radius:0 5px 5px 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	&:after {
		content: '\f02f';
		font-family: FontAwesome;
		position: absolute;
		right: 2px;
		top: calc(50% - 8px);
		font-size:16px;
		color: rgb(242, 242, 242);
		text-shadow: 0 0 10px #111;
	}
	&.open{
		left:-2px;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	ul{
		margin:0;
		list-style-type:none;
		width:60px;
		padding:0;
		display:block;
		float:left;
		padding:5px 0;
		li{
			padding:5px;
			display:block;
			float:left;
			width:100%;
			button{
				width:40px;
				height:40px;
				display:block;
				float:right;
				background:none;
				border:2px solid #444;
				border-radius:5px;
				outline:0;
				padding:0;
				&:before{
					font-size:25px;
					line-height:35px;
					font-family:FontAwesome;
				}
				&.mobile:before{
					content:"\f10b";
				}
				&.tablet:before{
					content:"\f10a";
				}
				&.desktop:before{
					content:"\f108";
				}
				&:hover{
					background:rgba(255, 218, 187, 0.43);
				}
			}
		}
	}
}
@page {
	margin: 0.2in;
}
@media print{
	html{
		body{
			.printheader{
				img{
					width:30%;
					display:block;
					float:left;
				}
				.date{
					width:30%;
					display:block;
					float:right;
					text-align:right;
				}
			}
			.l-page{
				.l-header{
					.l-header-third{
						clear:both!important;
					}
				}
			}
		}
	}
	.print-buttons,
	.tabs--primary{
		display:none!important;
	}
	.block.block--bean{
		.block__title{
			display:block;
			float:left;
			width:auto;
		}
		/*beans for the IA theme info*/
		.bean-ia-theme-information{
			display:none;
		}
	}
}