// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";

header{
	display: block;
	float: left;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}
footer{
	display: block;
	float: left;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}