html body .l-page {
  display: block;
  float: left;
  width: 100%; }
  html body .l-page .l-header {
    display: block;
    float: left;
    width: 100%; }
    html body .l-page .l-header .l-header-first {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      @media (min-width: 45em) {
        html body .l-page .l-header .l-header-first {
          width: 50%;
          float: left;
          margin-right: -100%;
          margin-left: 0%;
          clear: none; } }
      @media (min-width: 70em) {
        html body .l-page .l-header .l-header-first {
          width: 50%;
          float: left;
          margin-right: -100%;
          margin-left: 0%;
          clear: none; } }
    html body .l-page .l-header .l-header-second {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      @media (min-width: 45em) {
        html body .l-page .l-header .l-header-second {
          width: 50%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; } }
      @media (min-width: 70em) {
        html body .l-page .l-header .l-header-second {
          width: 50%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; } }
    html body .l-page .l-header .l-header-third {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
      @media (min-width: 45em) {
        html body .l-page .l-header .l-header-third {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; } }
      @media (min-width: 70em) {
        html body .l-page .l-header .l-header-third {
          width: 100%;
          float: right;
          margin-left: 0;
          margin-right: 0;
          clear: none; } }
  html body .l-page .l-main {
    display: block;
    width: 100%;
    margin: auto;
    clear: both;
    max-width: 1020px; }
    html body .l-page .l-main p {
      font: 300 16px/16px Arial;
      color: #d5d5d5; }
    html body .l-page .l-main .l-content-header {
      display: block;
      float: left;
      width: 100%; }
    html body .l-page .l-main .l-content-center {
      display: block;
      float: left;
      width: 100%; }
      @media (min-width: 45em) {
        html body .l-page .l-main .l-content-center {
          overflow: hidden; } }
      html body .l-page .l-main .l-content-center .l-region--content-left {
        display: block;
        float: left;
        width: 100%; }
        @media (min-width: 45em) {
          html body .l-page .l-main .l-content-center .l-region--content-left {
            padding-bottom: 2000px;
            margin-bottom: -2000px;
            width: 50%;
            clear: right;
            float: left;
            margin-left: 0;
            margin-right: 0%; } }
      html body .l-page .l-main .l-content-center .l-region--content-right {
        display: block;
        float: left;
        width: 100%; }
        @media (min-width: 45em) {
          html body .l-page .l-main .l-content-center .l-region--content-right {
            padding-bottom: 2000px;
            margin-bottom: -2000px;
            width: 50%;
            clear: right;
            float: left;
            margin-left: 0;
            margin-right: 0%; } }
    html body .l-page .l-main .l-content-footer {
      display: block;
      float: left;
      width: 100%; }
      html body .l-page .l-main .l-content-footer .l-region--content--footer {
        display: block;
        float: left;
        width: 100%; }
  html body .l-page .l-footer {
    display: block;
    float: left;
    width: 100%; }
    html body .l-page .l-footer .l-footer-first .l-region--footer-first {
      display: block;
      float: left;
      width: 100%; }
    html body .l-page .l-footer .l-footer-second .l-region--footer-second {
      display: block;
      float: left;
      width: 100%; }
