$whitegray:#e0e0e0;
$ltgray:#D5D5D5;
$gray:#898989;
$dkgray:#444;
$shadow:rgba(0,0,0,0.4);
$dkgreen:#00572D;
$dkgreen-transparent:rgba(0, 87, 45, 0.9);

/* colors taken from UNC Charlotte branding standards */
$lgreen:#C3D7A4;
$green:#00703C;
$gold:#BEA848;
$cream:#E1D5BF;

$yellow:#F0CB00;
$purple:#731472;
$teal:#00728f;
$magenta:#DE3A6E;
$orange:#F3901D;
$caramel:#CBAE86;
$sycgold:#A69667;