@mixin floatblock(){
	display:block;
	float:left;
	width:100%;
}
@mixin floatblock-r(){
	display:block;
	float:right;
	width:100%;
}
@mixin centerblock($maxwidth){
	display:block;
	width:100%;
	margin:auto;
	clear:both;
	max-width:$maxwidth;
}
@mixin eq-p(){
	overflow:hidden;
}
@mixin eq(){
	padding-bottom:2000px;
	margin-bottom:-2000px;
	padding-right:20px;
}
@mixin v-gradient(){
	// needs latest Compass, add '@import "compass"' to your scss
	@include filter-gradient(#000000, #730000, vertical); // IE6-8
	// IE9 SVG, needs conditional override of 'filter' to 'none'
	$experimental-support-for-svg: true;
	@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
	filter:none \0/IE9;
}
@mixin transition($time,$type,$element:"all"){
	-webkit-transition:		$element $time $type;
	-moz-transition:		$element $time $type;
	-o-transition:			$element $time $type;
	transition:				$element $time $type;
}
@mixin f-impact($size:42px){
	font-family: 'TradeGothicLTStd-BdCn20','Impact W01 2010',Impact, Arial, sans-serif;
	font-weight:600;
	text-transform:uppercase;
	color:#444;
	font-size:$size;
	line-height:$size;
}
@mixin f-text($size:16px){
	font-family:arial;
	color:#444;
	font-size:$size;
	line-height:$size + 6px;
}
@mixin arrowafter(){
	content: '\f04b';
	font-family: FontAwesome;
	font-size: 8px;
	padding-left: 10px;
	position: absolute;
	top: calc(50% - 4px);
	right: 5px;
	color:$green;
}