// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

@font-face {
	font-family: 'TradeGothicLTStd';
	src: url(/sites/all/themes/unc_charlotte4/font/TradeGothicLTStd.otf);
}

@font-face {
	font-family: 'TradeGothicLTStd-Bd2';
	src: url(/sites/all/themes/unc_charlotte4/font/TradeGothicLTStd-Bd2.otf);
}

@font-face {
	font-family: 'TradeGothicLTStd-BdCn20';
	src: url(/sites/all/themes/unc_charlotte4/font/TradeGothicLTStd-BdCn20.otf);
}

@font-face {
	font-family: 'TradeGothicLTStd-Cn18';
	src: url(/sites/all/themes/unc_charlotte4/font/TradeGothicLTStd-Cn18.otf);
}

html{
	body{
		// max-width:1600px;
		margin:0 auto;
		.l-page{
			overflow:hidden;
		}
	}
}
p{
	color:#444;
	margin:10px 0;
}
body.front{
	#a2,
	#a3{
		background:#eee;
		.wrapper{
			max-width:$maxwidth;
			padding:0 10px;
			display:block;
			margin:auto;
		}
	}
}
/* join band page */
body.page-node-73{
	#a2,
	#a4{
		margin-top:50px;
		.wrapper{
			max-width:$maxwidth;
			padding:0 10px;
			display:block;
			margin:auto;
		}
	}
	#a3{
		margin-top:50px;
	}
}
/* sights and sounds */
body.page-node-77{
	#a2{
		background:#eee;
	}
	#a3{
		margin-top:50px;
	}
}
/*unc charlotte header*/
#header-wrapper{
	height:100px;
	background: url("/sites/all/themes/unc_charlotte4/img/header-bg.png") repeat-x scroll center top #FFFFFF;
	.container{
		height:100px;
		margin:auto;
		max-width:$maxwidth;
		padding:0 10px;
		#header-row{
			background: url("/sites/all/themes/unc_charlotte4/img/header-logo-watermark.png") repeat-x scroll center center #FFFFFF;
			height: 100px;
			#logo-wrapper{
				width: 25%;
				margin-left: 2%;
				float: left;
				@include breakpoint($tab,true){
					position: relative;
					top: 20px;
				}
			}
			#branding{
				display:block;
				float:left;
				@include breakpoint($tab,true){
					height:100px;
				}
				#site-name-title{
					font-size: 1em;
					margin:0;
					a{
						color:white;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
				#site-name-wrapper{
					#site-name{
						height: 0px;
						text-align: left;
						top: 25px;
						position: relative;
						display:block;
						float: left;
						color: white;
						font-size: 1.25em;
						line-height:1.5em;
						font-family: times,"times new roman",serif;
						a{
							color:white;
							text-decoration:none;
							&:hover{
								text-decoration:underline;
							}
						}
					}
				}
				#subbrand-link{
					height: 0px;
					text-align: left;
					top: 30px;
					position: relative;
					display:block;
					float: left;
					color: white;
					font-size: 1em;
					line-height:1.5em;
					font-family: times,"times new roman",serif;
					a{
						color:white;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
			#header-utility {
				float: right;
				height: 100px;
				display:none;
				@include breakpoint($tab,true){
					display:block;
				}
				#header-utility-links {
					list-style-type: none;
					margin-bottom: 5px;
					margin-right: 8px;
					float: right;
					margin-top: 7px;
					font-size: 0.75em;
					li{
						font-family: arial,helvetica,sans-serif;
						font-size: 1em;
						margin-left: -4px;
						text-align: right;
						width: 164px;
						line-height: 1.6em;
						a{
							color: #FFFFFF !important;
							text-decoration: none;
						}
					}
				}
				#header-utility-search-wrapper {
					float: right;
					clear: both;
					margin-right: 8px;
					input{
						width:auto;
						height:25px;
					}
					.search-block-form--2{
						input{
							width:auto;
						}
					}
				}
			}
		}
	}
}
#mobile-navbar{
	@include floatblock();
	@include breakpoint($tab,true){
		display:none;
	}
	#mobile-buttons{
		@include floatblock();
		#mobile-menu-button{
			width: 50%;
			float: left;
			height: 40px;
			border-radius: 0 0 0 0;
			-webkit-border-radius: 0px;
			background-image: linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -o-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -moz-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -webkit-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -ms-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: #DDDDDD #BBBBBB #999999;
			border-image: none;
			border-style: solid;
			border-width: 1px;
			color: #333333;
			cursor: pointer;
			font: bold 12px/1.2 Arial,sans-serif;
			outline: 0 none;
			overflow: visible;
			text-shadow: 0 1px 1px #FFFFFF;
		}
		#mobile-search-button{
			width: 50%;
			float: left;
			height: 40px;
			border-radius: 0 0 0 0;
			-webkit-border-radius: 0px;
			background-image: linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -o-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -moz-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -webkit-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			background-image: -ms-linear-gradient(top , rgb(255,255,255) 0%, rgb(221,221,221) 100%);
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: #DDDDDD #BBBBBB #999999;
			border-image: none;
			border-style: solid;
			border-width: 1px;
			color: #333333;
			cursor: pointer;
			font: bold 12px/1.2 Arial,sans-serif;
			outline: 0 none;
			overflow: visible;
			text-shadow: 0 1px 1px #FFFFFF;
		}
	}
	#mobile-menu-container{
		width: 100%;
		position: relative;
		border-radius: 0px;
		border: none;
		padding: 0px;
		margin: 0px;
		clear: both;
		border-bottom: 5px solid $green;
		#mobile-main-menu{
			display: inline !important;
			border-left: 0px;
			border-right: 0px;
			width: 100%;
			li{
				width: 100% !important;
				display: block;
				background-color: #FFFFFF;
				border-bottom: 2px solid $green;
				border-right: 0px !important;
				height: 45px;
				line-height: 45px;
				padding-left: 0px;
				padding-right: 0px;
				&.first{
					border-top: 5px solid $green;
				}
				a{
					display: block;
					color:$green;
					border-left: 0px;
					border-right: 0px;
					font-size: 15px;
					padding-left: 15px;
					&.active{
						background-color: #EEEEEE;
					}
					&:before{
						content:"\f101";
						font-family:FontAwesome;
						color:$green;
					}
				}
			}
		}
	}
	#mobile-search-container{
		width: 100%;
		background-color: $green;
		height: 40px;
		padding-top: 10px;
		clear: both;
		#header-utility-links{
			display:none;
			list-style-type: none;
			margin-bottom: 5px;
			margin-right: 8px;
			float: right;
			margin-top: 7px;
			font-size: 0.75em;
			li{
				font-family: arial,helvetica,sans-serif;
				font-size: 1em;
				margin-left: -4px;
				text-align: right;
				width: 164px;
				line-height: 1.6em;
				a{
					color: #FFFFFF !important;
					text-decoration: none;
				}
			}
		}
		#header-utility-search-wrapper{
			float:none;
			margin-right:8px;
			clear:both;
			.form-search{
				float: none;
				text-align: center;
				.form-text{
					border: medium none;
					display: inline-block;
					float: none;
					font-size: 13px;
					height: 19px;
					padding: 0 17px 0 6px;
					position: relative;
					vertical-align: middle;
					width: 135px;
					min-height: 0px;
					border-radius: 0px;
				}
				button{}
			}
			input{
				width:auto;
				height:25px;
			}
		}
	}
}
.l-region{
	position:relative;
	&.l-region--header-second{
		@include floatblock();
		background:#005429;
	}
}

/*don't need to see these for display purposes*/
.messages{
	display:none;
}
/*it's somehow getting a width...*/
.element-invisible{
	max-width:1px;
}
/* overriding default style */
body .field-collection-view{
	border:none;
}
body .field-collection-container{
	border:none;
}
.block{
	@include floatblock();
}
form{
	label{
		@include floatblock();
		width:30%;
	}
	input{
		@include floatblock();
		width:70%;
	}
}
body.front{
	.l-page{
		.l-main{
			#content{
				display:block;
				float:left;
				position:relative;
				width:100%;
				h1{
					position:absolute;
					left:20px;
					top:-40px;
					z-index:99;
					margin:0;
				}
				> ul{
					margin:0;
				}
			}
		}
	}
}
body{
	.l-region{
		.block.block--bean{
			.block__title{
				display:none;
			}
		}
	}
}
.bean-button-promo-1{
	.field__item{
		&:after{
			@include arrowafter();
		}
		a{
			display: block;
			float: left;
			width: 100%;
			text-align: left;
			background: $green;
			color: white;
			line-height: 42px;
			text-decoration: none;
		}
	}
}
.l-content-header-meta{
	.container{
		border-bottom:2px solid #eee;
	}
	.wrapper{
		max-width:$maxwidth;
		padding:0 10px;
		margin:auto;
		.breadcrumbs{
			padding:10px 5px;
			.breadcrumb{
				list-style-type:none;
				padding:0;
				display:block;
				float:left;
				padding:5px;
				span{
					@include f-text();
					padding:0;
					font-size:initial;
					line-height:16px;
				}
				a{
					color:$green;
					border-bottom:1px dotted $green;
					text-decoration:none;
					&:hover{
						border-bottom:1px solid $green;
					}
				}
			}
			span{
				@include f-text();
				font-size:9px;
				line-height:16px;
				display:block;
				float:left;
				padding:5px;
			}
		}
	}
	h1{
		@include f-impact();
		font-size:40px;
		line-height:42px;
		max-width:$maxwidth;
		padding:0 10px;
		margin:30px auto;
		color:$green;
		text-transform:uppercase;
	}
}

.block.block--bean{
	@include floatblock();
	padding:5px;
	&#block-bean-homepage-billboard{
		padding:0;
	}
	.block__title{
		display:block;
		float:left;
		width:auto;
		font-size:14px;
		color:rgba(0,0,0,0.4);
		&:before{
			content:'';
		}
	}
	.bean-billboard{
		.billboard-image{
			display:block;
			width:100%;
			float:left;
			@include breakpoint($tab,true){
				width:75%;
			}
			.field__item{
				text-align:center;
				img{
					width:100%;
					height:auto;
					max-height: $billboard-h;
					max-width: $billboard-w;
					margin: auto;
					float: none;
				}
			}
			&.fullwidth{
				@include breakpoint($tab,true){
					width:100%;
				}
			}
		}
		.billboard-ctas{
			display:block;
			width:100%;
			float:left;
			@include breakpoint($tab,true){
				width:25%;
			}
			.field__items{
				.field__item{
					display:block;
					float:left;
					width:100%;
					margin-top:30px;
					a{
						display:block;
						width:90%;
						margin:auto;
						color:#fff;
						background:#333;
						border:1px solid #222;
						text-decoration:none;
						text-align:center;
						padding:20px;
						border-radius:8px;
					}
				}
			}
		}
	}
	.bean-subsections{
		> .content{
			display: block;
			float: left;
			width: 100%;
			border-top: 5px solid #444;
			padding: 50px 0 20px 0;
			margin-top: -20px;
			.field__item{
				.field--name-field-subsection-gallery{
					.field__items{
						.field__item{
							display:none;
							float:left;
							width:80px;
							height:80px;
							@include breakpoint($tab,true){
								width:150px;
								height:150px;
							}
							border-radius:50%;
							overflow:hidden;
							&:first-child{
								display:block;
							}
						}
					}
					.field--name-field-caption{
						display:none;
					}
				}
				.field--name-field-subsection-title{
					@include f-impact();
					text-align:left;
					font-size:20px;
					line-height:20px;
					width:calc(100% - 80px);
					float:right;
					@include breakpoint($tab,true){
						float: left;
						width: calc(100% - 150px);
					}
					text-transform:uppercase;
					padding-left:20px;
				}
				.field--name-field-subsection-intro{
					@include f-text();
					display: block;
					width:calc(100% - 80px);
					float:right;
					@include breakpoint($tab,true){
						float: left;
						width: calc(100% - 150px);
					}
					padding: 10px 20px;
				}
				.field--name-field-subsection-link{
					@include floatblock();
					width:auto;
					position:relative;
					&:after{
						@include arrowafter();
					}
					a{
						@include f-impact(18px);
						display:block;
						float:left;
						padding:10px 20px;
						color:$green;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
			.field--name-field-promo-read-more{
				.field__item{
					position:relative;
					padding-right:20px;
					&:after{
						@include arrowafter();
						top:calc(50% + 4px);
					}
					a{
						color:$green;
						display:block;
						float:right;
						text-decoration:none;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}
	}
	.bean-showcase{
		display:block;
		float:left;
		max-width:100%;
		width:100%;
		border-top: 5px solid #444;
		padding-top: 40px;
		margin:50px 0;
		@include breakpoint($tab,true){
			margin: 120px 0;
		}
		h2{
			@include f-impact();
			padding:0 10px;
			text-align: center;
			position: relative;
			top: -64px;
			text-transform: uppercase;
			background: white;
			width:auto;
			@include breakpoint($tab,true){
				width: 400px;
			}
			margin: auto;
		}
		.showcase-intro{
			display:block;
			float:left;
			width:100%;
			padding:0 10px;
			@include breakpoint($tab,true){
				width:25%;
			}
			.field--name-field-read-more-link{
				display:block;
				float:left;
				padding-right:20px;
				position:relative;
				&:after{
					@include arrowafter();
				}
				a{
					color:$green;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
		.showcase-elements{
			display:block;
			float:left;
			width:100%;
			padding-top:40px;
			@include breakpoint($tab,true){
				width:75%;
				padding-top:0;
			}
			.field__item{
				display:block;
				float:left;
				width:100%;
				position:relative;
				overflow:hidden;
				height:50vw;
				@include breakpoint($tab,true){
					padding:0 20px;
				}
				.field--name-field-image-upload{
					.field__items{
						.field__item{
							display:none;
							&:first-child{
								display:block;
							}
						}
					}
				}
				img{
					display:block;
					float:left;
					height:100%;
					position:absolute;
					margin:auto;
					top: -9999px;
					bottom: -9999px;
					left: -9999px;
					right: -9999px;
				}
				iframe{
					max-width:100%;
				}
				.field--name-field-image-upload{
					.field__item{
						width:100%;
						padding:0 20px;
						box-sizing:border-box;
					}
				}
				.field--name-field-caption{
					@include floatblock();
					position:relative;
					height:100%;
					.field__item{
						@include f-impact();
						color:white;
						text-transform:uppercase;
						text-shadow:1px 1px 0px rgba(0,0,0,0.8);
						width: 100%;
						font-size:16px;
						line-height:18px;
						padding:15px;
						box-sizing: border-box;
						position: absolute;
						bottom: 0;
						height:auto;
						@include filter-gradient(#000000, #a60000, vertical); // IE6-9
						@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
						@include breakpoint($desk,true){
							font-size:22px;
							line-height:24px;
							padding: 30px 15px;
						}
						@include breakpoint($desk,true){
							font-size:30px;
							line-height:32px;
							padding: 20px 15px;
						}
					}
				}
			}
			&.one{
				.field__item{
					@include breakpoint($tab,true){
						width:100%;
						height:50vw;
					}
				}
			}
			&.two{
				.field__item{
					@include breakpoint($tab,true){
						width:50%;
						height:25vw;
					}
				}
			}
			&.three{
				.field__item{
					@include breakpoint($tab,true){
						width:33.3333%;
						height:16vw;
					}
				}
			}
		}
	}
	.bean-text-and-links-promo{
		&.a-left{}
		&.a-right{}
		.promo-image{
			display:block;
			float:left;
			width:100%;
			padding:10px;
			box-sizing:border-box;
			@include breakpoint($tab,true){
				max-width:70%;
				width:auto;
			}
		}
		.promo-content-container{
			display:block;
			float:left;
			width:100%;
			@include breakpoint($tab,true){
				padding:10px;
			}
			box-sizing:border-box;
			@include breakpoint($tab,true){
				max-width:30%;
				width:auto;
			}
		}
		&.noimg{
			.promo-content-container{
				width:100%;
				max-width:initial;
				.field--name-field-list-of-links{
					@include floatblock();
				}
			}
		}
		.field--name-field-list-of-links{
			.field__item{
				a{
					@include f-text();
					display: block;
					width: 90%;
					margin: 5px auto;
					color: #fff;
					background: #333;
					border: 1px solid #222;
					text-decoration: none;
					text-align: center;
					padding: 10px;
					border-radius: 8px;
				}
			}
		}
	}
	.bean-basic-wyswiyg-block{
		.content{}
	}
	.bean-faq{
		.content{
			.field--name-field-question{
				.field__item{
					@include floatblock();
					.entity-field-collection-item{
						.field--name-field-ask-question{
							
							font-weight:bold;
							.field__item{
								width:auto;
								&:before{
									content:"\f086";
									font-family:FontAwesome;
									color:$green;
									font-size:20px;
									width:30px;
									padding-right:7px;
									display:block;
									float:left;
								}
								p{
									@include floatblock();
									width:calc(100% - 30px);
									@include f-text();
									margin:0;
								}
							}
						}
						.field--name-field-answer{
							@include f-text();
							padding-left:30px;
						}
					}
				}
			}
			.field--name-field-read-more-link{
				.field__item{
					position:relative;
					&:after{
						@include arrowafter();
						right:initial;
					}
					a{
						text-decoration:none;
						position:relative;
						color:$green;
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}
	}
}
#block-bean-join-the-band-introduction{
	padding:0;
	&.block.block--bean{
		.bean-text-and-links-promo{
			.promo-image{
				padding:0;
				width:100%;
				max-width:initial;
				img{
					width:100%;
				}
			}
			.promo-content-container{
				width:100%;
				@include breakpoint($tab,true){
					max-width:initial;
					position:absolute;
				}
				.field--name-field-list-of-links{
					@include breakpoint($tab,true){
						max-width:$maxwidth;
						padding:0 10px;
						margin:auto;
					}
					.field__items{
						background:#fff;
						display:block;
						float:left;
						width:100%;
						@include breakpoint($tab,true){
							width:auto;
						}
						.field__item{
							a{
								width:100%;
								margin:0;
								border:none;
								border-left:5px solid $gold;
								border-radius:0;
								background:#eee;
								color:#444;
								margin-bottom:1px;
								&:hover{
									border-left:7px solid $green;
									padding-left:8px;
								}
							}
						}
					}
				}
			}
		}
	}
}
#block-bean-join-faqs{
	@include floatblock();
	width:100%;
	@include breakpoint($tab,true){
		width:300px;
	}
	background:#eee;
	border-top:5px solid $gold;
	h2.block__title{
		@include f-impact();
		display:block!important;
		margin:0;
		padding:10px;
		text-transform:uppercase;
		font-size:24px;
	}
}
#block-bean-band-camp{
	padding:0;
	&.block.block--bean{
		.bean-text-and-links-promo{
			.promo-image{
				padding:0;
				width:100%;
				max-width:initial;
				img{
					width:100%;
				}
			}
			.promo-content-container{
				width:100%;
				@include breakpoint($tab,true){
					max-width:initial;
					position:absolute;
				}
				.field--name-field-intro-text{
					@include breakpoint($tab,true){
						max-width:$maxwidth;
						padding:0 10px;
						margin:auto;
					}
					.field__items{
						background:$dkgreen;
						display:block;
						float:left;
						width:100%;
						padding:20px;
						@include breakpoint($tab,true){
							background:$dkgreen-transparent;
							margin-top:60px;
							width:50%;
						}
						.field__item{
							position:relative;
							h2{
								@include f-impact(48px);
								color:white;
								text-transform:uppercase;
								margin:0;
							}
							p{
								@include f-text(18px);
								color:white;
							}
							div{
								position:relative;
								&:after{
									@include arrowafter();
									right:initial;
									color:white;
								}
								a{
									color:white;
									text-decoration:none;
									&:hover{
										text-decoration:underline;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
#block-bean-join-request-more-information{
	h2.block__title{
		@include f-impact(48px);
		display:block!important;
		margin:auto;
		padding:10px;
		text-transform:uppercase;
		width:auto;
		@include breakpoint($tab,true){
			width:600px;
		}
		float:none;
		background:white;
		position:relative;
		text-align:center;
		top:15px;
	}
}
/* views blocks on sights and sounds home*/
/* galleries */
#block-views-media-block-1{
	float:none;
	max-width:$maxwidth;
	margin:auto;
	.block__title{
		@include f-impact(36px);
		text-align:center;
		width: 300px;
		text-transform:uppercase;
		margin: auto;
		background: white;
		top: 20px;
		position: relative;
	}
	.block__content{
		border-top: 5px solid #444;
		padding-top: 60px;
		.view-content{
			.views-row{
				@include floatblock();
				width:100%;
				@include breakpoint($tab,true){
					width:33.3333%;
				}
				.views-field-field-image-upload{
					@include floatblock();
					margin-top:30px;
					@include breakpoint($tab,true){
						margin-top:0px;
					}
					.field-content{
						@include floatblock();
						overflow:hidden;
						position:relative;
						a{
							display:none;
							&:first-child{
								display:block;
							}
						}
						img{
							display:inline-block;
							width:100%;
							float:left;
							vertical-align: middle;
							margin:auto;
							display: block;
							height: auto;
							padding:0 20px;
						}
					}
				}
				.views-field-field-caption{
					@include floatblock();
					position:relative;
					height:100%;
					.field-content{
						@include f-impact(16px);
						color:white;
						text-transform:uppercase;
						text-shadow:1px 1px 0px rgba(0,0,0,0.8);
						width: calc(100% - 40px);
						line-height:18px;
						padding:15px;
						margin: 0 20px;
						box-sizing: border-box;
						position: absolute;
						bottom: 0;
						@include filter-gradient(#000000, #a60000, vertical); // IE6-9
						@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
						@include breakpoint($desk,true){
							font-size:22px;
							line-height:24px;
							padding: 30px 15px;
						}
						@include breakpoint($desk,true){
							font-size:30px;
							line-height:32px;
							padding: 20px 15px;
						}
					}
				}
			}
		}
		.more-link{
			position:relative;
			&:after{
				@include arrowafter();
			}
			a{
				color:$green;
			}
		}
	}
}
/* instagram feed */
#block-block-17{
	margin:40px 0;
	.block__content{
		border-top:5px solid #444;
		margin:auto;
		max-width:$maxwidth;
		h2{
			max-width:$maxwidth;
			@include f-impact(36px);
			text-transform:uppercase;
			text-align:center;
			width:auto;
			@include breakpoint($tab,true){
				width: 380px;
			}
			margin: auto;
			background: white;
			top: -20px;
			position: relative;
		}
		#instafeed{
			margin-top:40px;
			.item{
				@include floatblock();
				@include breakpoint($tab,true){
					width:33.3333%;
				}
				padding:0 20px;
				a{
					position:relative;
					img{

					}
					h3{
						@include f-impact(16px);
						color:white;
						text-transform:uppercase;
						text-shadow:1px 1px 0px rgba(0,0,0,0.8);
						width:100%;
						line-height:18px;
						padding:15px;
						box-sizing: border-box;
						position: absolute;
						bottom: 3px;
						margin:0;
						@include filter-gradient(#000000, #a60000, vertical); // IE6-9
						@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
						&:before{
							content:"\f16d";
							font-family:FontAwesome;
							padding-right:10px;
						}
					}
				}
			}
		}
		span{
			@include f-impact(16px);
			color:$green;
			text-transform:uppercase;
			width:100%;
			line-height:18px;
			box-sizing: border-box;
			position: relative;
			margin:0;
			float:right;
			text-align:right;
			padding:20px;
			a{
				color:$green;
				text-decoration:none;
			}
			&:before{
				content:"\f16d";
				font-family:FontAwesome;
				padding-right:10px;
			}
		}
	}
}
/* audio samples */
#block-views-media-block-2{
	@include floatblock();
	.block__title{
		max-width:$maxwidth;
		@include f-impact(36px);
		text-transform:uppercase;
		text-align:center;
		width: 350px;
		margin: auto;
		background: white;
		top: 20px;
		position: relative;
	}
	.block__content{
		max-width:$maxwidth;
		margin:auto;
		border-top: 5px solid #444;
		padding-top: 60px;
		.view-content{
			.views-row{
				@include floatblock();
				width:100%;
				@include breakpoint($tab,true){
					width:50%;
				}
				.views-field-field-audio-file{
					.jp-audio{
					}
				}
				.views-field-field-caption{
					display:none;
				}
			}
		}
		.more-link{
			position:relative;
			&:after{
				@include arrowafter();
			}
			a{
				color:$green;
			}
		}
	}
}
#block-views-media-block-3{
	.block__content{
		.view-content{
			.views-row{
				@include floatblock();
				width:50%;
				.views-field-field-video-url{
					.player{
						iframe{
							max-width:100%;
							max-height:34vw;
						}
					}
					.video-embed-description{
						display:none;
					}
				}
				.views-field-field-caption{
					display:none;
				}
			}
		}
		.more-link{
			position:relative;
			max-width:$maxwidth;
			margin:auto;
			float:none;
			&:after{
				@include arrowafter();
			}
			a{
				color:$green;
			}
		}
	}
}

#block-views-news-block-1{
	@include floatblock();
	@include breakpoint($tab,true){
		padding: 20px 20px 0 10px;
		background:url("/sites/all/themes/unc_charlotte4/img/0775-1935.png") no-repeat right bottom;
	}
	h2.block__title{
		max-width:$maxwidth;
		@include f-impact(36px);
		text-transform:uppercase;
		text-align:center;
		width:auto;
		top:0;
		@include breakpoint($tab,true){
			width: calc(100% - 300px);
		}
		margin: auto;
		background: white;
		position: relative;
	}
	.view-news{
		position:relative;
		.view-content{
			@include floatblock();
			border-bottom: 5px solid #444;
			@include breakpoint($tab,true){
				width:calc(100% - 300px);
			}
			.views-field-title{
				@include floatblock();
				margin:0;
				h2{
					margin:15px 0;
				}
				.field-content{
					@include f-impact(36px);
					line-height:50px;
					text-transform:uppercase;
				}
			}
			.views-field-field-news-image{
				display:block;
				float:left;
				width:100%;
				img{
					width:100%;
					height:auto;
				}
			}
			.views-field-title-1{
				display:block;
				float:left;
				padding-right:20px;
				position:relative;
				margin:20px 0;
				&:after{
					@include arrowafter();
				}
				a{
					color:$green;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
			.views-field-created,
			.views-field-body{
				@include floatblock();
				box-sizing:border-box;
			}
		}
		.more-link{
			padding-right:20px;
			position:relative;
			width:100%;
			@include breakpoint($tab,true){
				width:calc(100% - 300px);
			}
			float:left;
			&:after{
				@include arrowafter();
			}
			a{
				color:$green;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}

.block--views-events-block-1{
	position: relative;
	.block__title{
		@include f-impact();
		text-align:center;
		margin: auto;
		float: none;
		font-size:48px;
		line-height:48px;
		text-transform:uppercase;
		background: white;
		position: relative;
		top:26px;
		width:auto;
		@include breakpoint($tab,true){
			width: 520px;
		}
	}
	.block__content{
		max-width: $maxwidth;
		margin: auto;
		float: none;
		.view-events{
			border-top: 5px solid #444;
			.view-header{
				position:absolute;
				bottom:-14px;
				z-index:2;
				left:0;
				max-width:40%;
				display:none;
				@include breakpoint($tab,true){
					display:block;
				}
			}
			.view-content{
				display:block;
				float:left;
				width:100%;
				@include breakpoint($tab,true){
					padding: 20px 0;
					margin-top: -20px;
				}
				z-index:3;
				position:relative;
				.views-row{
					display:block;
					float:left;
					width:100%;
					padding:20px;
					@include breakpoint($tab,true){
						width:33.3333%;
						padding:70px 20px;
					}
					text-align:center;
					// needs latest Compass, add '@import "compass"' to your scss
@include filter-gradient(#99ffff, #00ffff, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 30%,rgba(255,255,255,0) 70%));
					.views-field-field-event-date-1{
						@include floatblock();
						width:90px;
						@include breakpoint($tab,true){
							width:100%;
						}
						margin:auto;
						.field-content{
							display:block;
							margin:auto;
							width:90px;
							.d-date{
								display: block;
								float:left;
								padding:5px;
								box-sizing: border-box;
								background: $green;
								color: white;
								width:90px;
								@include breakpoint($tab,true){
									padding:15px 0;
								}
								.month{
									@include f-impact(24px);
									display:block;
									float:left;
									width:100%;
									text-align:center;
									text-transform:uppercase;
									color:white;
								}
								.day{
									@include f-impact(60px);
									display:block;
									float:left;
									width:100%;
									text-align:center;
									color:white;
								}
								&:after{
									content:'';
									clear:both;
								}
							}
						}
					}
					.views-field-field-event-date-2{
						display:block;
						float:left;
						padding-left:20px;
						@include breakpoint($tab,true){
							width:100%;
							padding-left:0;
						}
						width:calc(100% - 90px);
						text-align:center;
						.event-info{
							display:block;
							@include breakpoint($tab,true){
								padding:0 30px;
							}
							h3{
								text-align:center;
								margin:0;
								@include breakpoint($tab,true){
									margin-top:20px;
								}
								a{
									@include f-impact(26px);
									@include breakpoint($tab,true){
										font-size:36px;
										line-height:36px;
									}
									text-decoration:none;
									text-transform:uppercase;
									color:#444;
								}
							}
							p{
								@include f-text(13px);
								margin: 0;
								display: block;
								float: left;
								padding: 10px;
								color:#444;
								width:100%;
								@include breakpoint($tab,true){
									width:50%;
									padding:5px 0;
								}
								&.e-loc{
									&:before{
										content:"\f041";
										font-family:FontAwesome;
										color:$green;
										padding-right:5px;
									}
								}
								&.e-dat{
									&:before{
										content:"\f017";
										font-family:FontAwesome;
										color:$green;
										padding-right:5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.more-link{
	position:relative;
	padding:15px;
	float:right;
	&:after{
		@include arrowafter();
	}
	a{
		color:$green;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
}

#block-bean-join-pride-of-niner-nation{
	padding:20px 20px 0 10px;
	@include floatblock();
	@include breakpoint($tab,true){
		width:calc(100% - 300px);
	}
	h2.block__title{
		@include f-impact();
		display:block!important;
		text-transform:uppercase;
		background: #fff;
		text-align: center;
		margin: auto;
		width:auto;
		@include breakpoint($tab,true){
			width: 500px;
		}
		float: none;
		position: relative;
	}
}
#block-bean-home-pride-of-niner-nation{
	padding:20px 20px 0 10px;
	@include floatblock();
	@include breakpoint($tab,true){
		width:calc(100% - 300px);
	}
	h2.block__title{
		@include f-impact();
		display:block!important;
		color:#444;
		text-transform:uppercase;
		font-size:48px;
		line-height:48px;
		background: #eee;
		text-align: center;
		margin: auto;
		top:5px;
		float: none;
		position: relative;
		width:auto;
		@include breakpoint($tab,true){
			width: 530px;
		}
	}
	.bean-subsections{
		> .content{
			.field__item{
				.field--name-field-subsection-title{
					@include f-impact(36px);
				}
			}
		}
	}
}
#block-bean-home-support-the-band{
	@include floatblock();
	@include breakpoint($tab,true){
		width:300px;
	}
	padding:0;
	background:white;
	.block__content{
		.content{
			.header{
				display:block;
				float:left;
				width:100%;
				background:$green;
				box-sizing:border-box;
				margin-bottom:20px;
				h2{
					@include f-impact(36px);
					display:block;
					float:left;
					padding:20px;
					box-sizing:border-box;
					width:100%;
					text-align:center;
					color:white;
					text-transform:uppercase;
					margin:0;
				}
				p{
					@include f-text(18px);
					text-align:center;
					color:white;
					font-size:16px;
					line-height:16px;
					width:75%;
					margin:auto;
					padding-bottom:10px;
				}
				&:after{
					content:'';
					position:relative;
					top:38px;
					background:white;
					border-top:20px solid $green;
					border-left:44vw solid rgba(255, 255, 255, 0);
					border-right:44vw solid rgba(255, 255, 255, 0);
					border-bottom:0;
					@include breakpoint(500px,true){
						border-left:46vw solid rgba(255, 255, 255, 0);
						border-right:46vw solid rgba(255, 255, 255, 0);
					}
					@include breakpoint($tab,true){
						top:20px;
						border-left:150px solid rgba(255, 255, 255, 0);
						border-right:150px solid rgba(255, 255, 255, 0);
					}
				}
			}
			.cta-content{
				@include floatblock();
				text-align:center;
				padding:0 20px;
				.icon{
					width: 100px;
					height: 100px;
					display: block;
					font-size: 32px;
					line-height: 80px;
					margin: auto;
					background: #eee;
					border-radius: 50%;
					border: 10px solid white;
					box-sizing: border-box;
					top: 50px;
					margin-top:-50px;
					position: relative;
					color:$green;
				}
				a{
					@include floatblock();
					border-top:3px solid #444;
					padding-top:30px;
					text-decoration:none;
					color:$green;
					.content{
						h3{
							@include f-impact(30px);
							color:$green;
							text-transform:uppercase;
						}
						p{
							@include f-text(14px);
							color:#444;
						}
					}
				}
			}
		}
	}
}
#block-bean-facilities-showcase{
	background:url("/sites/all/themes/unc_charlotte4/img/stadium_blur.jpg") no-repeat right bottom;
	background-size:cover;
	.block__content{
		max-width:$maxwidth;
		padding:0 10px;
		margin:auto;
	}
}
#block-views-media-block-3{
	.block__title{
		@include f-impact(36px);
		width:150px;
		text-transform:uppercase;
		text-align:center;
		max-width:$maxwidth;
		margin:auto;
		position:relative;
		top:20px;
		background:white;
	}
	.view-content{
		border-top:5px solid #444;
		padding-top:80px;
		max-width:$maxwidth;
		margin:auto;
		.views-field-field-video-url{
			@include floatblock();
			height:52vw;
			@include breakpoint($tab,true){
				height:36vw;
				max-height:360px;
			}
			.field-content{
				width:100%;
				@include breakpoint($tab,true){
					width:64vw;
					max-width:640px;
				}
				margin:auto;
				iframe{
					width:100%;
					height:52vw;
					@include breakpoint($tab,true){
						width:64vw;
						height:36vw;
						max-height:360px;
						max-width:640px;
					}
				}
			}
			.video-embed-description{
				width:100%;
				@include breakpoint($tab,true){
					width:64vw;
				}
				margin:auto;
			}
		}
	}
}
.owl-theme{
	.owl-controls{
		.owl-buttons{
			.owl-prev{
				position:absolute;
				left:-10px;
				top:30%;
				background:transparent;
				@include breakpoint($tab,true){
					left:30px;
					top:35%;
				}
				&:after{
					content:'\f053';
					font-family:FontAwesome;
					color:#444;
					position:relative;
					font-size:60px;
					@include breakpoint($tab,true){
						font-size:42px;
					}
				}
			}
			.owl-next{
				position:absolute;
				right:-10px;
				top:35%;
				background:transparent;
				@include breakpoint($tab,true){
					right:30px;
					top:35%;
				}
				&:after{
					content:'\f054';
					font-family:FontAwesome;
					color:#444;
					position:relative;
					font-size:60px;
					@include breakpoint($tab,true){
						font-size:42px;
					}
				}
			}
		}
	}
}
img{
	height:auto;
}

#block-user-login{
	display:none;
	width:auto;
	position: absolute;
	right: 10px;
	background:white;
	z-index:1;
	h2.block__title{
		float:right;
		cursor:pointer;
		border:1px solid black;
		padding:5px;
		border-radius:5px;
		font-size:14px;
		line-height:14px;
		&:before{
			display:none!important;
		}
		&:hover{
			background:$ltgray;
			color:black;
		}
	}
	.block__content{
		display:none;
		position: absolute;
		width: 281px;
		background: white;
		top: 40px;
		right: 0;
		border: 1px solid $dkgray;
		border-radius: 5px;
		padding: 0 5px;
		box-shadow: 0 0 10px rgba(0,0,0,0.7);
		form.user-login-form{
			.form-item{
				display: block;
				width: 100%;
				height: 20px;
				margin: 5px 0;
				label{
					display:block;
					float:left;
					font-size:12px;
					line-height:20px;
				}
				input{
					display:block;
					float:right;
					height:20px;
				}
			}
			ul{
				display:none;
			}
			#edit-actions{
				display:block;
				margin:5px auto;
				width:100%;
				input{
					width:100%;
				}
			}
		}
		&.open{
			display:block;
			z-index:1;
		}
	}
}
#block-bean-main-menu-toggle{
	display:block;
	float:left;
	width:100%;
	padding:0;
	@include breakpoint($tab,true){
		display:none;
		width:auto;
	}
	p{
		margin:0;
	}
	button.menu-toggle{
		display:block;
		float:left;
		width:100%;
		border:none;
		background:$ltgray;
		height:100px;
		border-left: 1px solid #999;
		&:before{
			content: '\f0c9';
			font-family: FontAwesome;
			font-size: 18px;
			top: 1px;
			left: -4px;
			position: relative;
		}
	}
}
/*site logo block*/
#block-block-16{
	width:200px;
	margin:auto;
	float:left;
	p{
		margin:0;
	}
}
/*main menu block*/
#header-wrapper{
	.l-header-third{
		@include floatblock();
		background:#eee;
		.container{
			display: block;
			width: 100%;
			max-width: $maxwidth;
			padding:0 10px;
			margin: auto;
			height:auto;
			.l-region--header-third{
				#block-menu-block-1{
					@include floatblock();
					margin-bottom:-5px;
					z-index:1;
					display:none;
					@include breakpoint($tab,true){
						width:80%;
						display:block;
					}
					.menu-block-wrapper{
						@include floatblock();
						ul{
							@include floatblock();
							list-style-type:none;
							padding:0;
							height:0px;
								overflow:hidden;
							@include breakpoint($tab,true){
								margin:0 10px;
								height:auto;
							}
							-webkit-transition:all 1s;
							transition:all 1s;
							li{
								@include floatblock();
								text-align:center;
								@include breakpoint($tab,true){
									margin:0;
								}
								&.active-trail,
								&:hover{
									border-bottom:1px solid $green;
									a{
										color:$green;
										border-bottom:5px solid $green;
									}
								}
								a{
									@include f-impact();
									padding:0 10px;
									color:$green;
									text-decoration:none;
									width:100%;
									height:$main-nav-height;
									display:block;
									line-height:$main-nav-height;
									font-weight:bold;
									text-transform:uppercase;
									font-size:20px;
								}
								@include breakpoint($tab,true){
									width:auto;
									a{

									}
								}
								&:nth-child(1){
									background:white;
									border-left:1px solid $ltgray;
									border-top:1px solid $whitegray;
									border-bottom:1px solid $ltgray;
								}
								&:nth-child(2){
									background:white;
									border-right:1px solid $ltgray;
									border-top:1px solid $whitegray;
									border-bottom:1px solid $ltgray;
								}
							}
						}
					}
				}
				#block-menu-block-5{
					@include floatblock();
					margin-bottom:-5px;
					z-index:1;
					display:none;
					@include breakpoint($tab,true){
						display:block;
						width:20%;
					}
					.menu-block-wrapper{
						ul{
							@include floatblock();
							li{
								list-style:none;
								display:block;
								float:left;
								text-align:center;
								width:33.3333%;
								a{
									background:$green;
									display: block;
									text-align: center;
									margin:auto;
									line-height: 32px;
									width: 30px;
									height: 30px;
									border-radius: 50%;
									i{
										color:white;
										font-size:16px;
									}
								}
							}
						}
					}
				}
				&.open{
					#block-menu-block-1{
						ul{
							height:215px;
							@include breakpoint($tab,true){
								height:auto;
							}
						}
					}
					#block-menu-block-5{
						.menu-block-wrapper{
							ul{
								li{
									a{
										i{}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*default subnav block*/
#block-menu-block-2{
	.menu-block-wrapper{
		ul{
			@include floatblock();
			margin:0;
			padding:0 20px 0 0;
			li{
				@include floatblock();
				margin-bottom:2px;
				a{
					background: #eee;
					color: #444;
					padding:10px 15px;
					@include floatblock();
					text-decoration:none;
					border-left:5px solid $gold;
				}
				&.active-trail{
					&>a{
						border-left:7px solid $green;
						background:$whitegray;
						padding-left:13px;
					}
				}
				&:hover{
					&>a{
						border-left:7px solid $green;
						background:$whitegray;
						padding-left:13px;
					}
				}
			}
			/*second level down*/
			ul{
				margin-left:10px;
				width:calc(100% - 10px);
				margin-top: 3px;
				li{
					a{
						background:none;
						border:none;
						&:hover{
							background:none;
							border:none;
							font-weight:bold;
						}
					}
				&.active-trail{
						a{
							background:none;
							border:none;
							font-weight:bold;
						}
						&.active{
							&>a{
								background:none;
								border:none;
								font-weight:bold;
							}
						}
					}
				}
			}
		}
	}
}
#block-menu-block-4{
	float:right;
	width:auto;
	.menu-block-wrapper{
		ul{
			margin:0;
			padding:0;
			li{
				width: auto;
				display: block;
				float: left;
				margin: 10px 10px 10px 0;
				padding-right: 10px;
				border-right: 1px solid black;
				&:last-child{
					border-right:none;
				}
				a{
					padding:0px;
					@include floatblock();
					text-decoration:none;
				}
			}
		}
	}
}
/*quicktabs block*/
.block{
	@include floatblock();
	&.block--quicktabs{
		ul.quicktabs-tabs{
			@include floatblock();
			margin:0;
			padding:0;
			li{
				a{
					display:block;
					float:left;
					border-top:1px solid $dkgray;
					border-left:1px solid $dkgray;
					border-right:1px solid $dkgray;
					border-bottom:1px solid $dkgray;
					padding:10px;
					margin:0 3px;
					border-radius:5px 5px 0 0;
					background:$ltgray;
					text-decoration:none;
					position:relative;
					bottom:-1px;
				}
				&.active{
					a{
						background:white;
						border-bottom:1px solid transparent;
					}
				}
			}
		}
		.quicktabs_main{
			@include floatblock();
			padding:10px;
			border:1px solid $dkgray;
			.quicktabs-tabpage{
				&.quicktabs-hide{}
			}
		}
	}
}
.view-id-news.view-display-id-page{
	.views-row{
		@include floatblock();
		padding-bottom:20px;
		margin-bottom:20px;
		border-bottom:1px solid #444;
		.views-field-title{
			.image{
				@include floatblock();
				position:relative;
				img{
					@include floatblock();
				}
				h2{
					@include f-impact(32px);
					color:white;
					text-transform:uppercase;
					text-shadow:1px 1px 0px rgba(0,0,0,0.8);
					width:100%;
					line-height:18px;
					padding:15px;
					box-sizing: border-box;
					position: absolute;
					bottom: 0;
					margin:0;
					@include filter-gradient(#000000, #a60000, vertical); // IE6-9
					@include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 18%,rgba(0,0,0,0.45) 100%));
					a{
						color:$green;
						text-decoration:none;
					}
				}
			}
		}
		.views-field-created{
			@include f-text(18px);
			@include floatblock();
			padding:10px;
			color:#444;
		}
		.views-field-body{
			@include f-text(18px);
			@include floatblock();
			padding:0 10px;
			color:#444;
		}
		.views-field-title-1{
			.field-content{
				@include floatblock();
				position:relative;
				padding-right:20px;
				&:after{
					@include arrowafter();
				}
				a{
					color:$green;
					display:block;
					float:right;
					text-decoration:none;
					&:hover{
						text-decoration:underline;
					}
				}
			}
		}
	}
}
.view-id-events.view-display-id-page{
	.views-row{
		@include floatblock();
		padding-bottom:20px;
		.views-field-field-event-date-1{
			@include floatblock();
			width:auto;
			margin:auto;
			.field-content{
				display:block;
				margin:auto;
				width:90px;
				.d-date{
					display: block;
					float:left;
					padding:15px 0;
					box-sizing: border-box;
					background: $green;
					color: white;
					width:90px;
					.month{
						@include f-impact(24px);
						display:block;
						float:left;
						width:100%;
						text-align:center;
						text-transform:uppercase;
						color:white;
					}
					.day{
						@include f-impact(60px);
						display:block;
						float:left;
						width:100%;
						text-align:center;
						color:white;
					}
					&:after{
						content:'';
						clear:both;
					}
				}
			}
		}
		.views-field-title{
			a{
				@include floatblock();
				@include f-impact(32px);
				color:#444;
				padding:0 10px;
				width:calc(100% - 90px);
				text-decoration:none;
				text-transform:uppercase;
			}
		}
		.views-field-field-event-location{
			@include floatblock();
			@include f-text(18px);
			line-height:22px;
			color:#444;
			padding:0 10px;
			width:calc(100% - 90px);
		}
		.views-field-field-event-date-2{
			@include floatblock();
			@include f-text(18px);
			line-height:22px;
			color:#444;
			padding:0 10px;
			width:calc(100% - 90px);
		}
	}
}
.l-region--nav-sidebar{
	padding-right:20px;
	.block{
		padding-bottom:20px;
		border-bottom:1px solid #ccc;
		&:last-child{
			border-bottom:none;
		}
	}
}
.hidden-phone{
	display:none!important;
	@include breakpoint($tab,true){
		display:block!important;
	}
}
.l-footer{
	@include floatblock();
	.l-footer-first{
		@include floatblock();
		background:$dkgreen;
		.l-region--footer-first{
			display:block;
			margin:auto;
			max-width:$maxwidth;
			padding:0 10px;
			/* footer menu */
			#block-menu-block-6{
				width:auto;
				.menu-block-wrapper{
					ul.menu{
						margin:0;
						padding:30px 0;
						@include floatblock();
						li{
							@include floatblock();
							list-style:none;
							line-height:60px;
							@include breakpoint($tab,true){
								width:auto;
							}
							a{
								@include f-impact(18px);
								@include floatblock();
								color:white;
								text-decoration:none;
								text-transform:uppercase;
								padding:14px 20px;
								text-align:center;
								@include breakpoint($tab,true){
									padding:0 20px;
									text-align:left;
								}
								&:hover{
									text-decoration:underline;
								}
							}
						}
					}
				}
			}
			#block-menu-block-5--2{
				width:auto;
				@include breakpoint($tab,true){
					width:120px;
				}
				margin:auto;
				float:none;
				padding-right:20px;
				@include breakpoint($tab,true){
					float:right;
					width:auto;
				}
				.menu-block-wrapper{
					ul.menu{
						margin:0 auto;
						padding:0;
						display:block;
						width:120px;
						@include breakpoint($tab,true){
							width:auto;
							float:right;
						}
						li{
							@include floatblock();
							width:auto;
							list-style:none;
							margin:25px 5px;
							a{
								@include floatblock();
								color:#fff;
								width:30px;
								height:30px;
								line-height:30px;
								text-align:center;
								border-radius:50%;
								background:$gold;
								text-decoration:none;
								&:hover{
									text-decoration:underline;
								}
							}
						}
					}
				}
			}
		}
	}
	//unc charlotte footer
	#footer {
	  @include floatblock();
	  #footer-container{
	    #static-footer {
	      background: url("../img/footer-bg.png") repeat-x scroll left top transparent;
	      clear: both;
	      height: 110px;
	      .hidden-phone{}
	      #utility-bar{
	      	max-width:$maxwidth;
			padding:0 10px;
	      	margin:auto;
	        height: 32px;
	        ul{
	          display:block;
	          float:left;
	          height: 32px;
	          list-style-type: none;
	          padding-top: 0;
	          margin-bottom: 0px;
	          padding-left: 10px;
	          margin-top:0;
	          li{
	            display: block;
	            float: left;
	            font-family: arial,helvetica,sans-serif;
	            font-size: 1em;
	            height: 32px;
	            margin-right: 20px;
	            a{
	              color: white;
	              display: inline-block;
	              height: 32px;
	              font-size:12px;
	              line-height: 32px;
	              text-decoration: none;
	              &:hover{
	                text-decoration: underline;
	              }
	            }
	          }
	        }
	        #footer-search{
	          display:block;
	          float:right;
	          #utility-search-input {
	            border: medium none;
	            display: block;
	            float: left;
	            font-size: 13px;
	            height: 17px;
	            margin-top: 7px;
	            padding-left: 5px;
	            padding-top: 1px;
	            padding-bottom: 1px;
	            position: relative;
	            width: 123px;
	            border-radius: 0px;
	          }

	          #utility-search-button {
	            border-radius: 0 0 0 0;
	            border: none;
	            width: 19px;
	            height: 19px;
	            margin: 0;
	            margin-top: 7px;
	            padding: 0;
	          }
	          #utility-search-button img {
	            border-image-width: 0;
	            margin: 0;
	            padding: 0;
	          }
	        }
	      }
	      #footer-bottom{
	      	max-width:$maxwidth;
			padding:0 10px;
	      	margin:auto;
	        #footer-name{
	          display:block;
	          float:left;
	          margin-top: 10px;
	          p{
	            color: #666666;
	            font-family: arial,helvetica,sans-serif;
	            margin-bottom: 8px;
	            margin-top: 0px;
	            margin-left: 20px;
	          }
	          a{
	            text-decoration:none;
	            &:hover{
	              text-decoration:underline;
	            }
	          }
	        }
	        #footer-follow{
	          display:block;
	          float:right;
	          p{
	            &#social-title {
	              border-bottom: 0 none;
	              color: #666666 !important;
	              font-family: arial,helvetica,sans-serif;
	              font-size: 1.13em;
	              font-weight: bold;
	              margin-bottom: 5px;
	              margin-right: 20px;
	              margin-top:10px;
	            }
	          }
	          div.social-icons{
	            display: inline-block;
	            height: 30px;
	            margin-right: 3px;
	            vertical-align: top;
	            width: 30px;
	            a{
	              display: inline-block;
	              height: 30px;
	              margin-right: 3px;
	              vertical-align: top;
	              width: 30px;
	            }
	            &.facebook {
	              a{
	                background: url("/sites/all/themes/unc_charlotte4/img/social-icons.png") no-repeat scroll 0 0 transparent;
	              }
	            }
	            &.blog{
	              a{
	                background: url("/sites/all/themes/unc_charlotte4/img/social-icons.png") no-repeat scroll 0 -30px transparent;
	              }
	            }
	            &.twitter{
	              a{
	                background: url("/sites/all/themes/unc_charlotte4/img/social-icons.png") no-repeat scroll 0 -60px transparent;
	              }
	            }
	            &.flickr{
	              a{
	                background: url("/sites/all/themes/unc_charlotte4/img/social-icons.png") no-repeat scroll 0 -90px transparent;
	              }
	            }
	            &.youtube{
	              a{
	                background: url("/sites/all/themes/unc_charlotte4/img/social-icons.png") no-repeat scroll 0 -120px transparent;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	}
}
.print-buttons{
	position:fixed;
	left:-60px;
	z-index:9999;
	background:rgb(255, 126, 0);
	border:2px solid #334477;
	padding-right:16px;
	border-radius:0 5px 5px 0;
	transition: all 1s;
	-webkit-transition: all 1s;
	&:after {
		content: '\f02f';
		font-family: FontAwesome;
		position: absolute;
		right: 2px;
		top: calc(50% - 8px);
		font-size:16px;
		color: rgb(242, 242, 242);
		text-shadow: 0 0 10px #111;
	}
	&.open{
		left:-2px;
		transition: all 1s;
		-webkit-transition: all 1s;
	}
	ul{
		margin:0;
		list-style-type:none;
		width:60px;
		padding:0;
		display:block;
		float:left;
		padding:5px 0;
		li{
			padding:5px;
			display:block;
			float:left;
			width:100%;
			button{
				width:40px;
				height:40px;
				display:block;
				float:right;
				background:none;
				border:2px solid #444;
				border-radius:5px;
				outline:0;
				padding:0;
				&:before{
					font-size:25px;
					line-height:35px;
					font-family:FontAwesome;
				}
				&.mobile:before{
					content:"\f10b";
				}
				&.tablet:before{
					content:"\f10a";
				}
				&.desktop:before{
					content:"\f108";
				}
				&:hover{
					background:rgba(255, 218, 187, 0.43);
				}
			}
		}
	}
}
@page {
	margin: 0.2in;
}
@media print{
	html{
		body{
			.printheader{
				img{
					width:30%;
					display:block;
					float:left;
				}
				.date{
					width:30%;
					display:block;
					float:right;
					text-align:right;
				}
			}
			.l-page{
				.l-header{
					.l-header-third{
						clear:both!important;
					}
				}
			}
		}
	}
	.print-buttons,
	.tabs--primary{
		display:none!important;
	}
	.block.block--bean{
		.block__title{
			display:block;
			float:left;
			width:auto;
		}
		/*beans for the IA theme info*/
		.bean-ia-theme-information{
			display:none;
		}
	}
}