.page-node-21 .l-header .l-region,
.page-node-21 .l-footer .l-region,
.page-node-21 .l-region--content-header,
.page-node-21 .l-content-center,
.page-node-21 .l-nav-sidebar,
.page-node-21 .l-content-wrapper,
.page-node-21 .l-region--featured,
.page-node-21 .l-content,
.page-node-21 .l-region--above-content,
.page-node-21 .l-region--below-content,
.page-node-21 .l-promo-sidebar,
.page-node-21 .l-region--content-footer,
.page-node-21 .l-region--content-left,
.page-node-21 .l-region--content-right,
.page-node-28 .l-header .l-region,
.page-node-28 .l-footer .l-region,
.page-node-28 .l-region--content-header,
.page-node-28 .l-content-center,
.page-node-28 .l-nav-sidebar,
.page-node-28 .l-content-wrapper,
.page-node-28 .l-region--featured,
.page-node-28 .l-content,
.page-node-28 .l-region--above-content,
.page-node-28 .l-region--below-content,
.page-node-28 .l-promo-sidebar,
.page-node-28 .l-region--content-footer,
.page-node-28 .l-region--content-left,
.page-node-28 .l-region--content-right,
.page-node-32 .l-header .l-region,
.page-node-32 .l-footer .l-region,
.page-node-32 .l-region--content-header,
.page-node-32 .l-content-center,
.page-node-32 .l-nav-sidebar,
.page-node-32 .l-content-wrapper,
.page-node-32 .l-region--featured,
.page-node-32 .l-content,
.page-node-32 .l-region--above-content,
.page-node-32 .l-region--below-content,
.page-node-32 .l-promo-sidebar,
.page-node-32 .l-region--content-footer,
.page-node-32 .l-region--content-left,
.page-node-32 .l-region--content-right {
  background: none;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  width: auto;
  float: left; }
.page-node-21 .print-buttons,
.page-node-28 .print-buttons,
.page-node-32 .print-buttons {
  display: none; }
.page-node-21 .block--bean .entity-bean,
.page-node-28 .block--bean .entity-bean,
.page-node-32 .block--bean .entity-bean {
  display: none !important; }

body.page-node-21 .l-header {
  background: #256e42;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  body.page-node-21 .l-header .l-header-first {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
  body.page-node-21 .l-header .l-header-second {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
  body.page-node-21 .l-header .l-header-third .menu-block-1 .menu {
    margin: 0; }
    body.page-node-21 .l-header .l-header-third .menu-block-1 .menu li {
      border: none !important; }
body.page-node-21 .l-main {
  background: #b5b5b5;
  min-height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  padding: 10px; }
body.page-node-21 .l-footer {
  display: block;
  float: left;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.3); }
body.page-node-28 .l-header {
  width: 20% !important;
  height: 80vh;
  background: blue; }
  body.page-node-28 .l-header .l-header-first {
    width: 100% !important; }
    body.page-node-28 .l-header .l-header-first #block-block-16 {
      width: 100%; }
  body.page-node-28 .l-header .l-header-third {
    background: #2d5dd8;
    width: 100%; }
    body.page-node-28 .l-header .l-header-third .menu {
      padding: 0;
      margin: 0; }
      body.page-node-28 .l-header .l-header-third .menu li {
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid black !important;
        padding: 0 !important;
        font-size: 11px !important;
        margin: 0 !important; }
        body.page-node-28 .l-header .l-header-third .menu li.active-trail {
          margin: 0 2px !important;
          border-right: 2px solid rgba(30, 30, 34, 0.22) !important; }
body.page-node-28 .l-main {
  display: block;
  float: left;
  height: 80vh;
  width: 80% !important;
  padding: 20px;
  box-sizing: border-box;
  clear: none !important; }
body.page-node-28 .l-footer {
  height: 20vh !important;
  background: #444; }
body.page-node-32 .l-header {
  display: block;
  position: fixed !important; }
  body.page-node-32 .l-header .l-header-first {
    display: block;
    float: left;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    width: 20% !important; }
  body.page-node-32 .l-header .l-header-second {
    display: none; }
  body.page-node-32 .l-header .l-header-third {
    background: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 80% !important;
    float: left;
    display: block;
    padding: 0; }
    body.page-node-32 .l-header .l-header-third .l-region--header-third {
      width: 100% !important; }
    body.page-node-32 .l-header .l-header-third .menu {
      display: table !important;
      padding: 0;
      margin: 0; }
      body.page-node-32 .l-header .l-header-third .menu li {
        display: table-cell !important;
        float: none !important; }
        body.page-node-32 .l-header .l-header-third .menu li a {
          line-height: 100px !important; }
body.page-node-32 .l-main {
  margin-top: 100px !important;
  position: relative;
  z-index: -1;
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh; }
body.page-node-32 .l-footer {
  height: 200px !important;
  background: white !important; }

html {
  background: #eee;
  margin-bottom: 20px; }
  html body.logged-in .edit-menu-wrap {
    display: block;
    position: absolute;
    top: 100px;
    left: 55px; }
  html body {
    /* Toggle Switch */
    /* Hover Color Switch */
    /* Vertical Allignment (Option 2) */ }
    html body .edit-menu-wrap {
      display: none; }
    html body .control-panel.open {
      top: -10px;
      transition: all 1s;
      -webkit-transition: all 1s; }
    html body .control-panel {
      display: block;
      position: fixed;
      top: -101px;
      left: calc(50% - 100px);
      margin-top: 10px;
      background: #ff7e00;
      z-index: 9999;
      border: 2px solid #334477;
      text-align: center;
      transition: all 1s;
      -webkit-transition: all 1s; }
      html body .control-panel i.fa-cog {
        padding: 10px;
        color: #fff;
        font-size: 24px;
        text-shadow: 0 0 5px #111; }
      html body .control-panel .toggle-switch, html body .control-panel .hover-switch, html body .control-panel .layout-switch {
        display: block;
        background: #eee;
        z-index: 1; }
        html body .control-panel .toggle-switch ul, html body .control-panel .hover-switch ul, html body .control-panel .layout-switch ul {
          display: table;
          margin: 0;
          padding: 0; }
          html body .control-panel .toggle-switch ul li, html body .control-panel .hover-switch ul li, html body .control-panel .layout-switch ul li {
            width: 100px !important;
            height: 30px !important;
            display: table-cell;
            float: none !important;
            text-align: center !important;
            vertical-align: middle;
            border: 1px solid #000;
            cursor: pointer;
            padding: 0 !important; }
          html body .control-panel .toggle-switch ul li.active, html body .control-panel .hover-switch ul li.active, html body .control-panel .layout-switch ul li.active {
            background: #ccc; }
    html body .sitemap {
      margin-top: 115px;
      padding: 0px 20px 20px 20px; }
      html body .sitemap .menu-block-wrapper ul.menu {
        margin: 0;
        padding: 0px 25px 20px 0px;
        border-left: 1px solid #000; }
        html body .sitemap .menu-block-wrapper ul.menu li {
          float: none;
          width: 100%;
          padding: 0 0 0 25px;
          list-style: none;
          text-align: left;
          box-sizing: border-box; }
          html body .sitemap .menu-block-wrapper ul.menu li a {
            border: 4px solid #444444; }
          html body .sitemap .menu-block-wrapper ul.menu li li a {
            border: 4px solid #898989; }
          html body .sitemap .menu-block-wrapper ul.menu li li li a {
            border: 4px solid #d5d5d5; }
          html body .sitemap .menu-block-wrapper ul.menu li li li li a {
            border: 4px solid #e0e0e0; }
          html body .sitemap .menu-block-wrapper ul.menu li a.hide {
            display: none; }
        html body .sitemap .menu-block-wrapper ul.menu li.hide {
          display: none; }
        html body .sitemap .menu-block-wrapper ul.menu i.toggle-icon {
          display: block;
          position: absolute;
          margin: -10px 0 0 -34px;
          background: #fff;
          color: #000;
          border-radius: 50%;
          font-size: 16px; }
        html body .sitemap .menu-block-wrapper ul.menu i.fa-times {
          padding: 1px 3px; }
        html body .sitemap .menu-block-wrapper ul.menu i.fa-plus {
          padding: 3px 3px 0px 3px; }
        html body .sitemap .menu-block-wrapper ul.menu > li:before {
          content: "";
          display: block;
          width: 25px;
          height: 30px;
          margin-left: -25px;
          border-bottom: 1px solid #000; }
        html body .sitemap .menu-block-wrapper ul.menu > li a {
          margin-top: -20px; }
      html body .sitemap .menu-block-wrapper > ul.menu {
        padding: 0; }
        html body .sitemap .menu-block-wrapper > ul.menu > li {
          float: left; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-1 {
          width: 100%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-2 {
          width: 50%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-3 {
          width: 33%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-4 {
          width: 25%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-5 {
          width: 20%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-6 {
          width: 16%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-7 {
          width: 14%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-8 {
          width: 12.5%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-9 {
          width: 11%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li.width-10 {
          width: 10%; }
        html body .sitemap .menu-block-wrapper > ul.menu > li:before {
          border-left: 1px solid #000; }
      html body .sitemap .menu-block-wrapper a {
        display: block;
        background: #fff;
        width: 110px;
        min-height: 38px;
        padding: 5px 8px;
        font: bold 14px Arial, Helvetica, sans-serif;
        color: #444;
        text-align: center;
        text-decoration: none;
        box-sizing: border-box; }
      html body .sitemap .menu-block-wrapper a.home {
        background: none;
        float: left;
        width: 100%;
        margin-top: 25px;
        font-size: 30px;
        color: #444;
        text-align: center;
        border-bottom: 1px solid #000; }
    html body .o6 .sitemap .menu-block-wrapper ul.menu i.toggle-icon {
      display: none; }
    html body .o3 .sitemap .menu-block-wrapper > ul.menu {
      height: 80vh;
      padding: 0;
      border-left: none; }
    html body .o3 .sitemap .menu-block-wrapper ul.menu:hover {
      background: #444; }
    html body .o3 .sitemap .menu-block-wrapper ul.menu ul.menu:hover {
      background: #898989;
      -webkit-box-shadow: 2px 2px 5px black; }
    html body .o3 .sitemap .menu-block-wrapper ul.menu ul.menu ul.menu:hover {
      background: #D5D5D5;
      -webkit-box-shadow: 2px 2px 5px black; }
    html body .o3 .sitemap .menu-block-wrapper ul.menu ul.menu ul.menu ul.menu:hover {
      background: #e0e0e0;
      -webkit-box-shadow: 2px 2px 5px black; }
    html body .o2 .sitemap {
      padding: 50px 0 0 20px; }
      html body .o2 .sitemap .menu-block-wrapper > ul.menu {
        padding: 0px 25px 20px 0px; }
      html body .o2 .sitemap .menu-block-wrapper ul.menu {
        display: inline-block; }
      html body .o2 .sitemap .menu-block-wrapper ul.menu > li:before {
        height: 45px; }
      html body .o2 .sitemap .menu-block-wrapper > ul.menu {
        height: auto;
        border-left: 1px solid #000; }
        html body .o2 .sitemap .menu-block-wrapper > ul.menu > li {
          float: none;
          width: 100%; }
        html body .o2 .sitemap .menu-block-wrapper > ul.menu > li:before {
          border-left: none; }
      html body .o2 .sitemap .menu-block-wrapper a.home {
        margin: 0;
        text-align: left;
        border-bottom: none; }
