.page-node-21 .l-header .l-region,
.page-node-21 .l-footer .l-region,
.page-node-21 .l-region--content-header,
.page-node-21 .l-content-center,
.page-node-21 .l-nav-sidebar,
.page-node-21 .l-content-wrapper,
.page-node-21 .l-region--featured,
.page-node-21 .l-content,
.page-node-21 .l-region--above-content,
.page-node-21 .l-region--below-content,
.page-node-21 .l-promo-sidebar,
.page-node-21 .l-region--content-footer,
.page-node-21 .l-region--content-left,
.page-node-21 .l-region--content-right,
.page-node-28 .l-header .l-region,
.page-node-28 .l-footer .l-region,
.page-node-28 .l-region--content-header,
.page-node-28 .l-content-center,
.page-node-28 .l-nav-sidebar,
.page-node-28 .l-content-wrapper,
.page-node-28 .l-region--featured,
.page-node-28 .l-content,
.page-node-28 .l-region--above-content,
.page-node-28 .l-region--below-content,
.page-node-28 .l-promo-sidebar,
.page-node-28 .l-region--content-footer,
.page-node-28 .l-region--content-left,
.page-node-28 .l-region--content-right,
.page-node-32 .l-header .l-region,
.page-node-32 .l-footer .l-region,
.page-node-32 .l-region--content-header,
.page-node-32 .l-content-center,
.page-node-32 .l-nav-sidebar,
.page-node-32 .l-content-wrapper,
.page-node-32 .l-region--featured,
.page-node-32 .l-content,
.page-node-32 .l-region--above-content,
.page-node-32 .l-region--below-content,
.page-node-32 .l-promo-sidebar,
.page-node-32 .l-region--content-footer,
.page-node-32 .l-region--content-left,
.page-node-32 .l-region--content-right {
  background: none;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  width: auto;
  float: left; }
.page-node-21 .print-buttons,
.page-node-28 .print-buttons,
.page-node-32 .print-buttons {
  display: none; }
.page-node-21 .block--bean,
.page-node-28 .block--bean,
.page-node-32 .block--bean {
  display: none;
  position: absolute;
  right: 0; }
  .page-node-21 .block--bean .entity-bean,
  .page-node-28 .block--bean .entity-bean,
  .page-node-32 .block--bean .entity-bean {
    display: none !important; }

body.page-node-21 .l-header {
  background: url("/sites/all/themes/starterkit/images/whitenoise.png") #256e42;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }
  body.page-node-21 .l-header .l-header-first {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
  body.page-node-21 .l-header .l-header-second {
    background: rgba(0, 0, 0, 0.4);
    height: 110px; }
    body.page-node-21 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul {
      margin: 0;
      padding: 0; }
      body.page-node-21 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li {
        width: auto;
        display: block;
        float: left;
        margin: 10px 10px 10px 0;
        padding-right: 10px;
        border-right: 1px solid black; }
        body.page-node-21 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li:last-child {
          border-right: none; }
        body.page-node-21 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li a {
          padding: 0px;
          display: block;
          float: left;
          width: 100%;
          text-decoration: none;
          color: white;
          text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  body.page-node-21 .l-header .l-header-third .menu-block-1 .menu {
    margin: 0; }
    body.page-node-21 .l-header .l-header-third .menu-block-1 .menu li {
      border: none !important; }
body.page-node-21 .l-main {
  background: #b5b5b5;
  min-height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.4);
  padding: 10px; }
body.page-node-21 .l-footer {
  display: block;
  float: left;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 3px 20px rgba(0, 0, 0, 0.3); }
body.page-node-28 .l-header {
  width: 20% !important;
  height: 80vh;
  background: url("/sites/all/themes/starterkit/images/zag.png") #2d5dd8; }
  body.page-node-28 .l-header .l-header-first {
    width: 100% !important; }
    body.page-node-28 .l-header .l-header-first #block-block-16 {
      width: 100%; }
  body.page-node-28 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul {
    margin: 0;
    padding: 0; }
    body.page-node-28 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li {
      width: auto;
      display: block;
      float: left;
      margin: 10px 10px 10px 0;
      padding-right: 10px;
      border-right: 1px solid black; }
      body.page-node-28 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li:last-child {
        border-right: none; }
      body.page-node-28 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li a {
        padding: 0px;
        display: block;
        float: left;
        width: 100%;
        text-decoration: none;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  body.page-node-28 .l-header .l-header-third {
    background: #2d5dd8;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
    body.page-node-28 .l-header .l-header-third .menu {
      padding: 0;
      margin: 0; }
      body.page-node-28 .l-header .l-header-third .menu li {
        width: 100% !important;
        border: none !important;
        border-bottom: 1px solid black !important;
        padding: 0 !important;
        font-size: 11px !important;
        margin: 0 !important; }
        body.page-node-28 .l-header .l-header-third .menu li.active-trail {
          margin: 0 2px !important;
          border-right: 2px solid rgba(30, 30, 34, 0.22) !important; }
body.page-node-28 .l-main {
  display: block;
  float: left;
  height: 80vh;
  width: 80% !important;
  padding: 20px;
  box-sizing: border-box;
  clear: none !important; }
body.page-node-28 .l-footer {
  height: 20vh !important;
  background: url("/sites/all/themes/starterkit/images/background-fuzz.png") #444444; }
body.page-node-32 .l-page {
  background: url("/sites/all/themes/starterkit/images/square.png") #aaaaaa; }
body.page-node-32 .l-header {
  display: block;
  position: fixed !important;
  z-index: 1; }
  body.page-node-32 .l-header .l-header-first {
    display: block;
    float: left;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    width: 20% !important; }
  body.page-node-32 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul {
    margin: 0;
    padding: 0; }
    body.page-node-32 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li {
      width: auto;
      display: block;
      float: left;
      margin: 10px 10px 10px 0;
      padding-right: 10px;
      border-right: 1px solid black; }
      body.page-node-32 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li:last-child {
        border-right: none; }
      body.page-node-32 .l-header .l-header-second #block-menu-block-4 .menu-block-wrapper ul li a {
        padding: 0px;
        display: block;
        float: left;
        width: 100%;
        text-decoration: none;
        color: white;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  body.page-node-32 .l-header .l-header-third {
    background: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 80% !important;
    float: left;
    display: block;
    padding: 0; }
    body.page-node-32 .l-header .l-header-third .l-region--header-third {
      width: 100% !important; }
    body.page-node-32 .l-header .l-header-third .menu {
      display: table !important;
      padding: 0;
      margin: 0; }
      body.page-node-32 .l-header .l-header-third .menu li {
        display: table-cell !important;
        float: none !important; }
        body.page-node-32 .l-header .l-header-third .menu li a {
          line-height: 100px !important; }
body.page-node-32 .l-main {
  padding-top: 100px !important;
  margin-top: 0 !important;
  position: relative;
  z-index: 0;
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;
  height: 100vh; }
body.page-node-32 .l-footer {
  height: 200px !important;
  background: white !important; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }
