/* No files to import found in abstractions/**\/* */
img, media {
  max-width: 100%; }

.messages {
  display: none; }

.l-header .l-region,
.l-footer .l-region,
.l-region--content-header,
.l-content-center,
.l-nav-sidebar,
.l-content-wrapper,
.l-region--featured,
.l-content,
.l-region--above-content,
.l-region--below-content,
.l-promo-sidebar,
.l-region--content-footer,
.l-region--content-left,
.l-region--content-right {
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #444444;
  margin-bottom: 10px;
  width: 100%;
  float: left; }

.l-region {
  position: relative; }

.block {
  display: block;
  float: left;
  width: 100%; }

/*site logo block*/
#block-block-16 {
  width: 200px; }
  #block-block-16 p {
    margin: 0; }

#block-block-16
.messages {
  display: none; }

/*it's somehow getting a width...*/
.element-invisible {
  max-width: 1px; }

/*all beans, need to figure out the best way to add a type class to the bean wrapper*/
.block.block--bean {
  display: block;
  float: left;
  width: 100%;
  padding: 5px;
  /*beans for the IA theme info*/ }
  .block.block--bean .block__title {
    display: block;
    float: left;
    width: auto;
    font-size: 14px;
    color: #7100ff; }
    .block.block--bean .block__title:before {
      content: ''; }
  .block.block--bean .bean-ia-theme-information {
    position: relative; }
    .block.block--bean .bean-ia-theme-information .regiontoggle {
      border: none;
      float: left;
      font-size: 14px;
      line-height: 20px;
      background: none;
      color: #7100ff;
      outline: 0; }
    .block.block--bean .bean-ia-theme-information .seemore {
      display: none;
      float: right;
      width: 400px;
      position: absolute; }
      .block.block--bean .bean-ia-theme-information .seemore.open {
        display: block;
        background: white;
        z-index: 3;
        top: 25px;
        left: 0;
        border: 1px solid #444;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        max-width: calc(100vw - 20px); }
    .block.block--bean .bean-ia-theme-information .field {
      display: block;
      float: left;
      width: 100%;
      padding: 10px 0;
      border-top: 1px solid #ccc; }
      .block.block--bean .bean-ia-theme-information .field.field--name-field-content-examples {
        color: #666; }

h1 {
  color: #444444;
  font: 500 30px/30px Arial;
  display: block;
  float: left;
  width: 100%;
  margin: 0; }
  h1:before {
    content: 'H1';
    color: blue;
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    float: left;
    font-weight: bold; }

h2 {
  font: 500 20px/20px Arial;
  display: block;
  float: left;
  width: 100%;
  margin: 0; }
  h2:before {
    content: 'H2';
    color: blue;
    font-size: 10px;
    display: table-cell;
    vertical-align: top;
    float: left;
    font-weight: bold; }

.block__title {
  font: 500 20px/20px Arial;
  color: #444444; }

.block__content {
  font: 300 16px/16px Arial;
  color: #444444; }

.breadcrumb {
  list-style-type: none;
  padding: 0;
  display: block;
  float: left;
  width: 100%; }
  .breadcrumb li {
    display: block;
    float: left;
    position: relative;
    padding-right: 5px; }
    .breadcrumb li a, .breadcrumb li span {
      color: #444444; }

#block-user-login {
  display: block;
  width: auto;
  position: absolute;
  right: 10px;
  background: white; }
  #block-user-login h2.block__title {
    float: right;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px; }
    #block-user-login h2.block__title:before {
      display: none !important; }
    #block-user-login h2.block__title:hover {
      background: #d5d5d5;
      color: black; }
  #block-user-login .block__content {
    display: none;
    position: absolute;
    width: 281px;
    background: white;
    top: 40px;
    right: 0;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
    #block-user-login .block__content form.user-login-form .form-item {
      display: block;
      width: 100%;
      height: 20px;
      margin: 5px 0; }
      #block-user-login .block__content form.user-login-form .form-item label {
        display: block;
        float: left;
        font-size: 12px;
        line-height: 20px; }
      #block-user-login .block__content form.user-login-form .form-item input {
        display: block;
        float: right;
        height: 20px; }
    #block-user-login .block__content form.user-login-form ul {
      display: none; }
    #block-user-login .block__content form.user-login-form #edit-actions {
      display: block;
      margin: 5px auto;
      width: 100%; }
      #block-user-login .block__content form.user-login-form #edit-actions input {
        width: 100%; }
    #block-user-login .block__content.open {
      display: block;
      z-index: 1; }

/*main menu block*/
#block-menu-block-1 {
  display: block;
  float: left;
  width: 100%; }
  #block-menu-block-1 ul {
    display: block;
    float: left;
    width: 100%;
    list-style-type: none; }
    #block-menu-block-1 ul li {
      display: block;
      float: left;
      width: 100%;
      width: auto;
      padding: 0 10px;
      text-align: center;
      height: 42px;
      border: 2px solid #d5d5d5;
      margin: 0 2px; }
      #block-menu-block-1 ul li.active-trail, #block-menu-block-1 ul li:hover {
        background: #e0e0e0; }
        #block-menu-block-1 ul li.active-trail a, #block-menu-block-1 ul li:hover a {
          color: #444444; }
      #block-menu-block-1 ul li a {
        color: #d5d5d5;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        line-height: 42px;
        font-weight: bold; }

/*default subnav block*/
#block-menu-block-2 .menu-block-wrapper ul {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  /*second level down*/ }
  #block-menu-block-2 .menu-block-wrapper ul li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 2px; }
    #block-menu-block-2 .menu-block-wrapper ul li a {
      border: 2px solid #d5d5d5;
      background: #e0e0e0;
      color: #898989;
      padding: 10px;
      display: block;
      float: left;
      width: 100%;
      text-decoration: none; }
    #block-menu-block-2 .menu-block-wrapper ul li.active-trail > a {
      border: 2px solid #444444;
      background: white; }
    #block-menu-block-2 .menu-block-wrapper ul li:hover > a {
      background: #e0e0e0;
      color: #444444; }
  #block-menu-block-2 .menu-block-wrapper ul ul {
    margin-left: 10px;
    width: calc(100% - 10px);
    margin-top: 3px; }
    #block-menu-block-2 .menu-block-wrapper ul ul li a {
      border: 2px solid #d5d5d5;
      background: white;
      color: #898989; }
    #block-menu-block-2 .menu-block-wrapper ul ul li.active-trail.active > a {
      border: 2px solid #444444;
      color: #444444; }

/*quicktabs block*/
.block {
  display: block;
  float: left;
  width: 100%; }
  .block.block--quicktabs ul.quicktabs-tabs {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    .block.block--quicktabs ul.quicktabs-tabs li a {
      display: block;
      float: left;
      border-top: 1px solid #444444;
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      border-bottom: 1px solid #444444;
      padding: 10px;
      margin: 0 3px;
      border-radius: 5px 5px 0 0;
      background: #d5d5d5;
      text-decoration: none;
      position: relative;
      bottom: -1px; }
    .block.block--quicktabs ul.quicktabs-tabs li.active a {
      background: white;
      border-bottom: 1px solid transparent; }
  .block.block--quicktabs .quicktabs_main {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #444444; }

html {
  background: #d5d5d5; }
  html body {
    max-width: 1600px;
    margin: 0 auto; }

.print-buttons {
  position: fixed;
  left: -60px;
  z-index: 9999;
  background: #ff7e00;
  border: 2px solid #334477;
  padding-right: 16px;
  border-radius: 0 5px 5px 0;
  transition: all 1s;
  -webkit-transition: all 1s; }
  .print-buttons:after {
    content: '\f02f';
    font-family: FontAwesome;
    position: absolute;
    right: 2px;
    top: calc(50% - 8px);
    font-size: 16px;
    color: #f2f2f2;
    text-shadow: 0 0 10px #111; }
  .print-buttons.open {
    left: -2px;
    transition: all 1s;
    -webkit-transition: all 1s; }
  .print-buttons ul {
    margin: 0;
    list-style-type: none;
    width: 60px;
    padding: 0;
    display: block;
    float: left;
    padding: 5px 0; }
    .print-buttons ul li {
      padding: 5px;
      display: block;
      float: left;
      width: 100%; }
      .print-buttons ul li button {
        width: 40px;
        height: 40px;
        display: block;
        float: right;
        background: none;
        border: 2px solid #444;
        border-radius: 5px;
        outline: 0;
        padding: 0; }
        .print-buttons ul li button:before {
          font-size: 25px;
          line-height: 35px;
          font-family: FontAwesome; }
        .print-buttons ul li button.mobile:before {
          content: "\f10b"; }
        .print-buttons ul li button.tablet:before {
          content: "\f10a"; }
        .print-buttons ul li button.desktop:before {
          content: "\f108"; }
        .print-buttons ul li button:hover {
          background: rgba(255, 218, 187, 0.43); }

@page {
  margin: 0.2in; }

@media print {
  html body .printheader img {
    width: 30%;
    display: block;
    float: left; }
  html body .printheader .date {
    width: 30%;
    display: block;
    float: right;
    text-align: right; }
  html body .l-page .l-header .l-header-third {
    clear: both !important; }

  .print-buttons,
  .tabs--primary {
    display: none !important; }

  .block.block--bean {
    /*beans for the IA theme info*/ }
    .block.block--bean .block__title {
      display: block;
      float: left;
      width: auto; }
    .block.block--bean .bean-ia-theme-information {
      display: none; } }
