$grids:12;
$gutters:0;

/* breakpoints */
$tab: 45em;
$desk: 70em;

/* max width of site column */
$maxwidth:1200px;

$main-nav-height:60px;
/* height and width restrictions of billboard image */
$billboard-w:1200px;
$billboard-h:800px;