.page-node-21,
.page-node-28,
.page-node-32{
	.l-header .l-region,
	.l-footer .l-region,
	.l-region--content-header,
	.l-content-center,
	.l-nav-sidebar,
	.l-content-wrapper,
	.l-region--featured,
	.l-content,
	.l-region--above-content,
	.l-region--below-content,
	.l-promo-sidebar,
	.l-region--content-footer,
	.l-region--content-left,
	.l-region--content-right
	{
		background: none;
		padding: 0px;
		box-sizing: border-box;
		border-radius: 0px;
		border: none;
		margin-bottom:0px;
		width:auto;
		float:left;
	}
	.print-buttons{
		display:none;
	}
	.block--bean .entity-bean{
		display:none!important;
	}
}
body{
	&.page-node-21{
		.l-header{
			background:rgba(37,110,66,1);
			box-shadow:0 0 10px rgba(0,0,0,0.4);
			.l-header-first{
				background: rgba(0,0,0,0.4);
				height:110px;
				.l-region--header-first{}
			}
			.l-header-second{
				background: rgba(0,0,0,0.4);
				height:110px;
			}
			.l-header-third{
				.menu-block-1{
					.menu{
						margin:0;
						li{
							border:none!important;
						}
					}
				}
			}
		}
		.l-main{
			background: rgb(181, 181, 181);
			min-height: 100vh;
			border-left: 1px solid rgba(0,0,0,0.5);
			border-right: 1px solid rgba(0,0,0,0.5);
			box-shadow: 0px -1px 5px rgba(0,0,0,0.4);
			padding: 10px;
		}
		.l-footer{
			display: block;
			float: left;
			width: 100%;
			height: 100px;
			background: rgba(0,0,0,0.4);
			box-shadow: inset 0px 3px 20px rgba(0,0,0,0.3);
		}
	}
	&.page-node-28{
		.l-header{
			width:20%!important;
			height:80vh;
			background:blue;
			.l-header-first{
				width:100%!important;
				#block-block-16{
					width:100%;
				}
			}
			.l-header-second{}
			.l-header-third{
				background:rgb(45, 93, 216);
				width:100%;
				.menu{
					padding:0;
					margin:0;
					li{
						width:100%!important;
						border:none!important;
						border-bottom:1px solid black!important;
						padding:0!important;
						font-size:11px!important;
						margin:0!important;
						&.active-trail{
							margin: 0 2px!important;
							border-right: 2px solid rgba(30, 30, 34, 0.22)!important;
						}
					}
				}
			}
		}
		.l-main{
			display:block;
			float:left;
			height:80vh;
			width:80%!important;
			padding:20px;
			box-sizing:border-box;
			clear:none!important;
		}
		.l-footer{
			height:20vh!important;
			background:#444;
		}
	}
	&.page-node-32{
		.l-header{
			display:block;
			position:fixed!important;

			.l-header-first{
				display:block;
				float:left;
				height:100px;
				background:rgba(0,0,0,0.5);
				width:20%!important;
			}
			.l-header-second{
				display:none;
			}
			.l-header-third{
				background:rgba(0,0,0,0.7);
				height:100px;
				width:80%!important;
				float:left;
				display:block;
				padding:0;
				.l-region--header-third{
					width:100%!important;
				}
				.menu{
					display:table!important;
					padding:0;
					margin:0;
					li{
						display:table-cell!important;
						float:none!important;
						a{
							line-height:100px!important;
						}
					}
				}
			}
		}
		.l-main{
			margin-top:100px!important;
			position:relative;
			z-index:-1;
			background:white;
			box-shadow:inset 0 0 10px rgba(0,0,0,0.4);
			padding:20px;
			box-sizing:border-box;
			height:100vh;
		}
		.l-footer{
			height:200px!important;
			background:white!important;
		}
	}
	&.page-node-40{
		
	}
}