/*
Syntax error: Undefined mixin 'floatblock'.
        on line 70 of /var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss, in `floatblock'
        from line 70 of /var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss

Backtrace:
/var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss:70:in `floatblock'
/var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss:70
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:138:in `block in compile'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/logger.rb:45:in `red'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:137:in `compile'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:118:in `compile_if_required'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:101:in `block in run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:126:in `timed'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/compiler.rb:100:in `run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:147:in `recompile'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/commands/watch_project.rb:87:in `perform'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/commands/base.rb:18:in `execute'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/commands/project_base.rb:19:in `execute'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/bin/compass:30:in `block in <top (required)>'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/bin/compass:44:in `call'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/gems/compass-0.12.6/bin/compass:44:in `<top (required)>'
/home/vagrant/.rvm/rubies/ruby-1.9.3-p547/bin/compass:23:in `load'
/home/vagrant/.rvm/rubies/ruby-1.9.3-p547/bin/compass:23:in `<main>'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/bin/ruby_executable_hooks:15:in `eval'
/home/vagrant/.rvm/gems/ruby-1.9.3-p547@global/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'floatblock'.\A         on line 70 of /var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss, in `floatblock'\A         from line 70 of /var/www/cf-0/sites/all/themes/starterkit/sass/variables/temp_styles.scss"; }
